<div id='project-form-wrapper' class='project-form row-fluid span12'>
	
	<!-- div id='project-form-nav-wrapper' class='span1 '>
		<ul class='nav nav-pills nav-stacked' id='project-form-nav'>
			<li><a href='#project-anchor'>Project</a></li>
			<li><a href='#flow-class-anchor'> Flow Class</a></li>
			<li><a href='#loan-detail-anchor'>Loan Detail</a></li>
			<li><a href='#organizations-anchor'>Organizations <br> Sources</a></li>
			<li><a href='#recipients-anchor'>Recipients <br> Transactions </a></li>
			<li><a href='#contacts-anchor'>Contacts</a></li>
			<li><a href = '#' class ='btn' id='toggle_color'>Colorize</a></li>
		</ul>
	</div -->

	<%= simple_form_for(@project, html: {class: ""}) do |f| %>

		<div id='project-form-content'>

			<div class='row-fluid'>
				
				<div id ='project-form-project' class='span12'>
					<!-- a id='project-anchor' class='project-form-anchor'></a -->
					<h3> Project #<%= @project.id || " (new) " %> </h3>
					<div class='row-fluid'>
						<%= f.association :donor, wrapper_html: {class: "span2"}, label: 'Donor country' %>
						<%= f.input :title, wrapper_html: {class: "span6"} %>
						<%= f.input :year, label: "Com. year", wrapper_html: {class: "span2"} %>
						<%= f.input :year_uncertain, label: false, inline_label: "Year uncertain?", wrapper_html: { class: "span2"} %>
						<%= f.input :active, label:false, inline_label: "Active?", wrapper_html: {class: 
							"span2 active-check #{@project.active ? 'active-project-check' : 'inactive-project-check'}"} %>
					</div>
					<div class='row-fluid'>	
						<%= f.association :verified, wrapper_html: {class: "span3"} %>
						<%= f.association :status, wrapper_html: {class: "span3"} %>
						<%= f.association :intent, wrapper_html: {class: "span3"} %>
					</div>
					<div class='row-fluid'>
						<%= f.input :description, input_html: {rows: "8", cols: "30" }, wrapper_html: {class: "span12"} %>
					</div>
						<div class='row-fluid'>
							<%= f.input :capacity, wrapper_html: {class: "span3"} %>
              <%= f.association :crs_sector, label_method: lambda { |s| s.full_name },
                      wrapper_html: {class: "span3"} %>
							<%= f.input :sector_comment, wrapper_html: {class: "span3"} #hint: "If multisector, add details" 
							%>
							<%= f.association :flow_type, wrapper_html: {class: "span3"} %>
						</div>
					<div class='row-fluid'>
						<div id = 'project-form-flow-class' class = 'span3'>
							<!--a id='flow-class-anchor' class='project-form-anchor'></a-->
							<hr>
							<%= f.simple_fields_for :flow_class do |flow_class_form| %>  
								<%= flow_class_form.association :oda_like_1 %>
								<%= flow_class_form.association :oda_like_2 %>
								<%= flow_class_form.association :oda_like_master %>
								    <span style="color:#999">Will be autoarbitrated on Save if there is no Master and both flow_classes match</span>
							<% end %>
						</div>
						<div class='span9 row-fluid'>
							<div class='span4'>
								<div class='row-fluid'>
									<%= f.input :is_commercial, label: false, inline_label: "Commercial?", wrapper_html: {class: "span6"} %>
									<%= f.input :line_of_credit, label: false, wrapper_html: {class: "span6"}, inline_label: "Credit Line?" %>
								</div>
								<div class='row-fluid'>
									<%= f.input :is_cofinanced, label: false, inline_label: "Cofinanced?", wrapper_html: {class: "span6"} %>
									<%= f.input :debt_uncertain, label: false, inline_label: "Debt uncertain?", wrapper_html: {class: "span6"} %>
								</div> 
							</div>


							<div class='dates-box span8'>
								<div class='row-fluid'>
									
									<% @date_defaults = {
											include_blank: true, 
											input_html: {value: ''}, 
											use_short_month: true, 
											start_year: 1980, 
											end_year: 2020,
											wrapper_html: {class: "project-date"}
										}
									%>
									<div class='span6'>
										<%= f.input :start_planned, @date_defaults %>
										<%= f.input :start_actual, @date_defaults %>
									</div>
									<div class='span6'>
										<%= f.input :end_planned, @date_defaults %>
										<%= f.input :end_actual, @date_defaults %>
									</div>
								</div>
							</div>
						<%# </div> %>
						<div class='span9' id = 'project-form-loan-detail'>
							<!--a id='loan-detail-anchor' class='project-form-anchor'></a-->
							<hr>
							<%= f.simple_fields_for :loan_detail do |loan_detail_form| %>
								<div class='row-fluid'>
									<%= loan_detail_form.association :loan_type,wrapper_html: {class: "span2"} %>
									<%= loan_detail_form.input :interest_rate,wrapper_html: {class: "span2"}, hint: "In %" %>
									<%= loan_detail_form.input :grant_element,wrapper_html: {class: "span2"}, hint: "In %." %>
									<%= loan_detail_form.input :grace_period,wrapper_html: {class: "span2"}, hint: "Years until first payment." %>
									<%= loan_detail_form.input :maturity,wrapper_html: {class: "span2"}, hint: "Years until final payment." %>
									<span style='color:#999;' class='span2'>The grant element will be <a target='_blank' href='http://aiddata-loan-calculator.herokuapp.com'>calculated automatically</a> if <b>maturity</b>,<b>interest rate</b>, and <b>transaction value</b> are present.</span>
								</div>
							<% end %>
						</div>
				</div>
			</div>
			<% add_one_label = "<i class='icon-plus'></i>Add One" %>
			<div class='row-fluid'>
				<!--a id='organizations-anchor' class='project-form-anchor'></a-->
				<div id = 'project-form-organizations' class='span6 project-accessory-fields'>
					<p class='row-fluid'>
						<b>Participating Organizations:</b> <%= link_to_add_fields add_one_label, f, :participating_organizations %>
					</p>
					<%= f.simple_fields_for :participating_organizations do |orgs| %>
						<%= render 'fields_for_participating_organization', f: orgs %>
					<% end %>
				</div>
				<div id = 'project-form-sources' class='span5 project-accessory-fields'>
					<p class='row-fluid'>
						<b>Sources:</b><%= link_to_add_fields add_one_label, f, :sources %>
					</p>
					<%= f.simple_fields_for :sources do |srcs| %>
						<%= render 'fields_for_source', f: srcs %>
					<% end %>
				</div>
			</div>
			<div class='row-fluid'>
				<!--a id='recipients-anchor' class='project-form-anchor'></a-->
				<div id = 'project-form-recipients' class='span5 project-accessory-fields'>
					<p class='row-fluid'>
						<b>Recipients:</b> <%= link_to_add_fields add_one_label, f, :geopoliticals %>
					</p>
					<%= f.simple_fields_for :geopoliticals do |geos| %>
						<%= render 'fields_for_geopolitical', f: geos %>
					<% end %>
				</div>
				
				<div id = 'project-form-transactions' class='span6 project-accessory-fields'>
					<p class='row-fluid'>
						<b>Transactions:</b> <%= link_to_add_fields add_one_label, f, :transactions %>
					</p>
					<%= f.simple_fields_for :transactions do |amts| %>
						<%= render 'fields_for_transaction', f: amts %>
					<% end %>
				</div>
			</div>
			<div class='row-fluid'>
				<!--a id='contacts-anchor' class='project-form-anchor'></a-->
				
				<div id = 'project-form-contacts' class='span7 project-accessory-fields'>
					<p class='row-fluid'>
						<b>Contacts:</b> <%= link_to_add_fields add_one_label, f, :contacts %>
					</p>
					<%= f.simple_fields_for :contacts do |cons| %>
						<%= render 'fields_for_contact', f: cons %>
					<% end %>
				</div>
			</div>
			<div class='row-fluid' id='flavors'>
				<span> Choose a flavor for this page: </span>
			</div>

		</div>
		<%= f.input :iteration, as: :hidden, hint: "Iteration: #{@project.iteration+=1}" %>
		<%= f.input :owner_id, wrapper_html: {class: ""},  as: :hidden, hint: "Owner: "+ (@project.owner.nil? ? 'None' : @project.owner.name) %>

		<%= f.button :submit, "Save", class: 'submit-button' %>
		<%= f.button :submit, "Save", class: 'submit-button on-nav-bar' %>
	<% end %>
	<div class='span12'>
		<br>
	</div>

</div>
