<%  
  csv_links = Dir.glob('public/downloads/*.csv') 

  of_finance_link ||= ""
  uf_finance_link ||= ""
  military_link ||= ""
  cancelled_link ||= ""
  suspicious_link ||= ""

  csv_links.each do |file|
    case file
    when /Official/
      of_finance_link = file[7..-1] #drops 'public/' from path
    when /Unofficial/
      uf_finance_link = file[7..-1]
    when /Military/
      military_link = file[7..-1]
    when /Cancelled/
      cancelled_link = file[7..-1]
    when /Suspicious/
      suspicious_link = file[7..-1]
    end
  end

%>

<table id="download_table" align="center">

  <!-- Table header -->

  <thead>
    <tr>
      <th scope="col" id="header" align="center">Data Downloads</th>
    </tr>
  </thead>

  <!-- Table body -->

  <tbody>
    <tr>
      <td>Official Finance</td>
      <td><%= link_to "CSV file", of_finance_link %></td>
    </tr>
    <tr>
      <td>Unofficial Finance</td>
      <td><%= link_to "CSV file", uf_finance_link %></td>
    </tr>
    <tr>
      <td>Military Flows</td>
      <td><%= link_to "CSV file", military_link%></td>
    </tr>
    <tr>
      <td>Cancelled Activities</td>
      <td><%= link_to "CSV file", cancelled_link %></td>
    </tr>
    <tr>
      <td>Suspicious Or Inactive Records </td>
      <td><%= link_to "CSV file", suspicious_link %></td>
    </tr>
  </tbody>

</table>
