<%  
  csv_links = Dir.glob('public/downloads/*.csv') 

  of_finance_link ||= ""
  uf_finance_link ||= ""
  military_link ||= ""
  cancelled_link ||= ""
  suspicious_link ||= ""

  csv_links.each do |file|
    case file
    when /Official_Finance/
      of_finance_link = file[7..-1] #drops 'public/' from path
    when /Unofficial_Finance/
      uf_finance_link = file[7..-1]
    when /Military_Flows/
      military_link = file[7..-1]
    when /Cancelled_Activities/
      cancelled_link = file[7..-1]
    when /Suspicious/
      suspicious_link = file[7..-1]
    end
  end

%>
<h2>Official Finance</h2>
<%= link_to "CSV file", of_finance_link %>

<h2>Unofficial Flows</h2>
<%= link_to "CSV file", uf_finance_link %>

<h2>Military Flows</h2>
<%= link_to "CSV file", military_link%>

<h2>Cancelled Activities</h2>
<%= link_to "CSV file", cancelled_link %>

<h2>Suspicious Or Inactive Records</h2>
<%= link_to "CSV file", suspicious_link %>
