<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<%= javascript_include_tag   "humanity_united/mapbox" %>
<%= stylesheet_link_tag "humanity_united/mapbox" %>
<style>
    .container {width:100% !important;padding:10px !important;}
    #vis { width:100%; height:630px; margin-right:auto; margin-left:auto;}
    #map { position:absolute; right:20%; height:600px; width:60%; margin-right:auto;margin-left:auto; }
    #searchbar {width:60%;position:relative;left:20%; right:10px;}
    #searchbar .vissearch {width:100%;margin-bottom:0px !important;}
    #searchbar form {position:relative; right:10px; margin-bottom: 1px;}
    #left {float:left;width:18%}
    #layercontrol {display:none;float:left;position:relative;top:-30px;border:solid #1c273b 1px;height:auto;width:100%;padding:1px;margin-bottom:1px;}
    #filtercontrol {float:left;position:relative;top:-30px;border:solid #1c273b 1px;height:626px;width:100%;padding:1px;}
    #searchresults {float:right;position:relative;right:20px; top:-30px;border:solid #1c273b 1px;height:626px;width:18%;padding:1px;}
    h4 {margin-left:5px;}
    #layercontrol img{display:none;}
    form.leaflet-control-layers-list{margin:0px !important;}
</style>
<div id="vis">
    <div id="searchbar">
      <%= form_tag "/humanity_dashboard", method: :get do %>
            <%= text_field_tag :search, params[:search], placeholder: 'Search for projects by keyword...', class:'vissearch' %>
      <% end %>
    </div>
    <div id='map'>
    </div>
    <div id="left">
        <div id="layercontrol">
          <h4>No base layer</h4>
          <%= image_tag("humanity_united/poverty_legend.png", class: 'poverty') %>
          <%= image_tag("humanity_united/placeholder_legend.jpg", class: 'placeholder') %>
          <%= image_tag("humanity_united/mrds_legend.png", class: 'usgs') %>
        </div>
        <div id="filtercontrol">
          <h4>Filter</h4>
        </div>
    </div>
    <div id="searchresults">
      <h4>Results</h4>
    </div>
</div>
<%= javascript_tag "var feature_collection=#{@feature_collection.to_json}"%>
<script>
    var MapQuest = L.tileLayer('http://otile{s}.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpeg', {
                attribution: 'Tiles by <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                subdomains: '1234',
                noWrap:true
            }),
            none = L.geoJson(),
            poverty = L.mapbox.tileLayer('miranda-lv.di996bt9', {
                noWrap:true
            }),
            acled = L.mapbox.tileLayer('miranda-lv.nyyi7ldi', {
                noWrap:true,
                opacity:0.75
            }),
            usgs = L.tileLayer.wms("http://mrdata.usgs.gov/services/mrds", {
                version: '1.1.1',
                service: 'WMS',
                request: 'GetMap',
                layers: 'mrds',
                format: 'image/png',
                STYLE: 'default',
                transparent: 'true',
                attribution: "USGS MRDS @ http://tin.er.usgs.gov/mrds/",
                noWrap:true
            }),
            map = L.map('map', {
                maxBounds: [[51.17934297928927,67.1484375],[-41.50857729743933,-28.125]],
                center: [6.964039, 19.533678],
                zoom:3,
                minZoom:3,
                maxZoom:14,
                layers:MapQuest
            }),
            baseMaps ={
                "None": none,
                "Poverty": poverty,
                "Armed Conflict": acled,
                "Minerals and Mines": usgs
            },
            MarkerOptions = {
            radius: 4,
            fillColor: "#9FE5F8",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.5};
    L.control.layers(baseMaps).addTo(map);
    if (feature_collection === null){
        feature_collection = {};
        feature_collection.features=[];}
    L.geoJson(feature_collection.features, {
        pointToLayer: function (feature, latlng) {
            return L.circleMarker(latlng, MarkerOptions);
        }
    }).addTo(map);
    $(document).ready(function(){
        map.on("baselayerchange", function(layer){
            var selected_layer = layer;
            console.log("Layer: "+selected_layer.name);
            if(selected_layer.name=="None"){
                $('#layercontrol').hide()
                $('#layercontrol img.poverty').hide()
                $('#layercontrol img.placeholder').hide()
                $('#layercontrol img.usgs').hide()
                $('#layercontrol h4').text("No base layer")
                $('#filtercontrol').height(662 - $('#layercontrol').height() + "px")
            }
            if(selected_layer.name=="Poverty"){
                $('#layercontrol').show()
                $('#layercontrol img.placeholder').hide()
                $('#layercontrol img.usgs').hide()
                $('#layercontrol img.poverty').show()
                $('#layercontrol h4').text("Poverty")
                $('#filtercontrol').height(621 - $('#layercontrol').height() + "px")
            }
            if(selected_layer.name=="Armed Conflict"){
                $('#layercontrol').show()
                $('#layercontrol img.poverty').hide()
                $('#layercontrol img.usgs').hide()
                $('#layercontrol img.placeholder').show()
                $('#layercontrol h4').text("Armed Conflict")
                $('#filtercontrol').height(621 - $('#layercontrol').height() + "px")
            }
            if(selected_layer.name=="Minerals and Mines"){
                $('#layercontrol').show()
                $('#layercontrol img.poverty').hide()
                $('#layercontrol img.placeholder').hide()
                $('#layercontrol img.usgs').show()
                $('#layercontrol h4').text("Minerals and Mines")
                $('#filtercontrol').height(621 - $('#layercontrol').height() + "px")
            }
        })
    })
</script>