
- latest_publications = Publication.joins(:publication_type).where(publication_types: {name: "AidData"}).sort {|a, b| (b.date && a.date) ? b.date <=> a.date : ( a.date ? -1 : 1 )}[0..4]
%ul.unstyled.recent_resources
	- latest_publications.each do |a|
		%li
			%div
				%strong
					= "#{a.author}:"
				%span<
					%a{ href: a.url}><
						= a.name
					= "."
				%span.muted
					= "#{a.category} &ndash; #{a.publisher ? "#{a.publisher}," : "" } #{a.date}".html_safe
%p
	%i
		= link_to "See all related publications &rarr;".html_safe, publications_path
%hr
