
- latest_articles = Media.joins(:media_type).where(media_types: {name: "News Article"}).sort {|a, b| (b.date && a.date) ? b.date.to_time <=> a.date.to_time : ( a.date ? -1 : 1 )}[0..2]
%ul.unstyled.recent_resources
	- latest_articles.each do |a|
		%li
			%div
				%strong
					%a{ href: a.url}
						= a.name
				%span.muted
					= "&ndash; #{a.publisher}, #{time_ago_in_words(a.date)} ago".html_safe
				%p.teaser
					= a.teaser.html_safe
					%br
					= link_to "Read all...", a.url
%p
	%i
		= link_to "See all articles &rarr;".html_safe, media_path
%hr