.row-fluid
  %p.span12
    Signing in will allow you to
    %strong
      leave comments
    and
    %strong
      flag values 
    in the database. Please use one of these networks to sign in:
.row-fluid
  %ul.thumbnails
    %li.span2.offset1
      %a.thumbnail.social-thumbnail.with_shadow{href: "/auth/facebook", style: "background-image: url('#{image_path('facebook.png')}')"}

    %li.span2
      %a.thumbnail.social-thumbnail.with_shadow{href: "/auth/linkedin", style: "background-image: url('#{image_path('linkedin.png')}')"}

    %li.span2
      %a.thumbnail.social-thumbnail.with_shadow{href: "/auth/twitter", style: "background-image: url('#{image_path('twitter.png')}')"}

    %li.span2
      %a.thumbnail.social-thumbnail.with_shadow{href: "/auth/google_oauth2", style: "background-image: url('#{image_path('google.png')}')"}

    %li.span2
      %a.thumbnail.social-thumbnail.with_shadow{href: "/auth/weibo", style: "background-image: url('#{image_path('weibo.png')}')"}
