<div class="row-fluid" align="center">
  <div class="span3">
    <% facebook_link = "/auth/facebook" %>
    <%= link_to image_tag( "f_logo40.png" ), facebook_link %>
    <%= link_to "Facebook",facebook_link %>
  </div>
  <div class="span3">
    <% linked_in_link = "/auth/linkedin" %>
    <%= link_to image_tag("LinkedIn_Logo60px.png"), linked_in_link %>
    <%= link_to "Linked In",linked_in_link %>
  </div>
  <div class="span3">
    <% twitter_link = "/auth/twitter" %>
    <%= link_to image_tag( "twitter_logo40.png" ), twitter_link %>
    <%= link_to "Twitter", twitter_link %>
  </div>
  <div class="span3">
    <% google_link = "/auth/google_oauth2" %>
    <%= link_to image_tag( "gmail.gif" ), google_link %>
    <%= link_to "Google", google_link %>
  </div>
</div>
