<% provide(:title, 'Home') %>
<script>
	$('body')
		.css('background-image', 'url("<%= image_path "gray_to_white.png" %>")')
</script>

	<div class='row-fluid' id='home_first_row' >
		<div class='span6'>
			<div id='home_carousel' class='carousel slide xwith_shadow'>
			  <ol class='carousel-indicators'>
			    <li data-target='#home_carousel' data-slide-to='0' class='active'></li>
			    <li data-target='#home_carousel' data-slide-to='1'></li>
			    <li data-target='#home_carousel' data-slide-to='2'></li>
			    <li data-target='#home_carousel' data-slide-to='3'></li>
			  </ol>
			  <div class='carousel-inner'>


			    <div class='active item'>
		    	    <%=image_tag "home/sudan_heatmap.png"%>
			    	<div class='carousel-caption'>
			    		<h4>Coming Soon: Geocoded Data!</h4>
			    		<p>See <%=link_to "preliminary maps", content_by_name_path("geocoding")%> of Chinese finance in Africa &rarr;</p>
			    	</div>
			    </div>
			    <div class='item' >
				    	<iframe width="570" height="321" src="http://www.youtube.com/embed/2t8QH_q2PGs?wmode=opaque&rel=0" frameborder="0" allowfullscreen seamless></iframe>
			    	<div class='carousel-caption'>
			    		<p>
			    			 Co-Executive Director 
			    			 <%= link_to "Brad Parks talks about the Media-Based Data Collection project &rarr;".html_safe,
			    			 	"http://youtu.be/2t8QH_q2PGs", target: "_blank" %>

			    		</p>
			    	</div>
			    </div>
			    <div class='item'>
			    	<%=image_tag "loan lifecycle.png"%>
			    	<div class='carousel-caption'>
			    		<h4>Learn more about the initiative</h4>
			    		<p>See the <%=link_to "methodology", content_by_name_path("methodology")%> behind AidData's work &rarr;</p>
			    	</div>
			    </div>
			    <div class='item'>
			    	<%=image_tag "improve_the_data.png"%>
			    	<div class='carousel-caption'>
			    		<h4>Help us improve our dataset</h4>
			    		<p>Help us expand the database!  <%=link_to "Learn more here", content_by_name_path("improving_the_data")%>.</p>
			    	</div>
			    </div>
			  </div>
			  <a class='carousel-control left' href='#home_carousel' data-slide='prev'>&lsaquo;</a>
			  <a class='carousel-control right' href='#home_carousel' data-slide='next'>&rsaquo;</a>
			</div>
		</div>
		<div id='stats-box' class='span6 container-fluid'>

			<div class='row-fluid'>
				<div class=''>
					<%= render 'vital_stats' %>
				</div>
			</div>
			<div class='row-fluid'>
				<div class=' alert alert-warning'>
					<%= render 'shared/recent' %>
				</div>
			</div>
		</div>
	</div>

	<div class='row-fluid' style="margin: 10px 0px 10px 0px;">
		<span class='span4'>
			<h4>
				<%= link_to "How to Use the Data", content_by_name_path("using_the_data"), class: "btn btn-large btn-info btn-block  home-button" %>
			</h4>
		</span>
		<span class='span4'>
			<h4>
				<%=link_to "Help us Improve the Data", content_by_name_path("improving_the_data"), class: "btn btn-large btn-block home-button" %>
			</h4>
		</span>
		<span class='span4'>
			<h4>
				<%=link_to "Coming Soon: Geocoded Data", content_by_name_path("geocoding"), class: "btn btn-large btn-warning btn-block home-button" %>
			</h4>
		</span>
	</div>

<div class='row-fluid home_thumbnails'>
	<ul class='thumbnails '>
		<li class='span3'>
			<a href="<%= bubbles_path %>" class="thumbnail with_shadow">
				<h4>See the Big Picture &rarr;</h4>
				<%= image_tag("bubble_button.jpg", :alt => "Bubble Chart") %>
				
				
			</a>
		</li>
		<li class='span3'>
			<a href="<%= map_path %>" class="thumbnail with_shadow">
				<h4>Country-Level Perspective &rarr;</h4>
				<%= image_tag("map_button.png", :alt => "Map Overlay") %>
			</a>
		</li>
		<li class='span3' id='project_button' >
			<a href="<%= projects_path %>" class="thumbnail with_shadow">
				<h4>Project-Level Data &rarr;</h4>
				<%= image_tag("project_button.jpg", :alt => "Project Pages") %>
			</a>
		</li>
		<li class='span3'>
			<a href="<%= content_by_name_path("downloads") %>" class="thumbnail with_shadow">
				<h4>Download Data &rarr;</h4>
				<%= image_tag("aggregate_button.jpg", :alt => "Downloads") %>
			</a>
		</li>
	</ul>
</div>

<div class='row-fluid' id='home_media'>
	<div class='span12 row-fluid well'>
		<div class='span4'>
			<h3>
				In the News:
			</h3>
			<%= render 'latest_articles' %>
		</div>
		<div class='span4'>
			<h3>
				Recent Tweets:
			</h3>
			<%= render '/shared/twitter' %>
		</div>
		<div class='span4'>
			<h3>
				Publications:
			</h3>
			<%= render 'latest_publications' %>
		</div>
	</div>	
</div>
