- provide :title, "New Map"


%h1.page-header
	China in Africa: 
	%span.country_name
		All Africa
	%small.country_detail

= javascript_include_tag "miso/index"
= javascript_include_tag "leaflet/index"
= javascript_include_tag "d3/index"
= javascript_include_tag "finch/index"
= javascript_include_tag "bootstrap_sortable/index"

= stylesheet_link_tag "leaflet/leaflet"


.row-fluid
	#map.span6{style: "height:500px;"}
	#chart.span6
.row-fluid
	#top_projects.span12
		%h2 
			Top Projects in 
			%span.country_name
				Africa
		%table.table.sortable
			%thead
				%tr
					%th ID
					%th Year
					%th Title
					%th Amount
					%th Sector
			%tbody#project_rows


%script#project_template{type: "text/template"}
	%tr
		%td 
			<%= id %>
		%td
			<%= year %>
		%td
			%a{target: "_blank", href: "/projects/<%= id %>".html_safe}
				<%= title %>
		%td{value: "<%= usd_2009 %>".html_safe } 
			<%= usd_2009 %>
		%td
			<%= crs_sector_name %>

%script#details_template{type: "text/template"}
	.projects-modal.modal.hide.fade
		.modal-header
			%button.close{type: "Button", "data-dismiss" => "modal"} &times;
			%h3 
				Chinese projects in <%= country_name %>, <%= year %>:
		.modal-body#projects-details
			.well
				Loading projects...

		.modal-footer
			%button.close{type: "Button", "data-dismiss" => "modal"} &times;

%script#projects_template{type: 'text/template'}
	%table.table
		%thead	
			%tr 
				%th 
					Title
				%th
					Sector
				%th
					Amount
		%tbody
			<% projects.forEach(function(p) { %>
			%tr
				%td
					<a target= "_blank", href="/projects/<%= p.id %>" >
					<%= p.title %>
					</a>
				%td 
					<%= p.crs_sector_name %>
				%td
					$<%= d3.format(",f")(p.usd_2009) %>
			
			<% }) %>
	

= javascript_include_tag "new_map/index"
