<table>
  <div class='row-fluid' style='margin:10px;'>
    <% Person.joins(:position).where(positions: {name: "Faculty/Staff"}).each do |person| %>

        <div class='span2' >
                <%= image_tag(person.avatar.url(:medium), class: 'staff-image') %>

              </div>
              <div class='span4'>
                <h4>
                  <%= person.first_name %> <%= person.last_name %>
                  <small>
                    <a href='mailto:china@aiddata.org?subject=Message for #{person.name}'>
                      E-mail
                    </a>
                  </small>
                </h4>
                <p class='teaser'>
                  <%= raw(person.bio) %>
                </p>
              </div>
    <% end %>


  </div>
</table>





<% Content.find_all_by_content_type("Research Assistant").each_slice(3).each do |slice| %>
    <div class='row-fluid'>

      <% slice.each do |f| %>
          <% details = [] %>
          <div class='span1'>

            <%= image_tag "people/#{f.name.downcase.gsub(/\s/, "_")}.png", class: 'team-image' %>

          </div>
          <div class='span3'>
            <h4>
              <%= f.name %>
              <br>
              <small>
                <% if (year = f.data["class"]) && (year.to_s =~ /[0-9]/ ) %>
                    <% details.push "Class of #{f.data["class"]}" %>
                <% end %>

                <% if major = f.data["major"] %>
                    <% details.push "Major: #{f.data["major"]}" %>
                <% end %>

                <%=  details.join(" | ") %>

              </small>
            </h4>
          </div>


      <% end %>

  </div>

<% end %>


