-# encoding: utf-8 

- provide :title, @content.name.titleize

- if @content.chinese_content.present?
    .row-fluid{style: "position:relative;"}
        .span2.pull-right{style: "height:30px;position:absolute;right:5px;top:10px;"}
            %ul.nav.nav-pills.inline
                %li
                    %a{href: "#en", "data-toggle" => "tab"}
                        EN
                %li
                    %a{href: "#zh", "data-toggle" => "tab"}
                        中文


.tab-content.site_content{style: "margin: auto, auto;"}
    #en.tab-pane.active
        .row-fluid
            %h1.page-header{style: "overflow-y:auto;"}
                .span12
                    = @content.name.titleize
        .row-fluid
            .span12
                - cache("content/#{@content.name}/{@content.updated_at}/en", expires_in: 1.minutes ) do
                    = Markdown.new(@content.content).to_html.html_safe
    - if @content.chinese_content.present?
        #zh.tab-pane
            .row-fluid
                %h1.page-header{style: "overflow-y:auto;"}
                    .span12
                        = @content.chinese_name.titleize
            .row-fluid
                - cache("content/#{@content.name}/{@content.updated_at}/zh", expires_in: 1.minutes ) do
                    = Markdown.new(@content.chinese_content).to_html.html_safe
:javascript
    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.nav-pills a[href=#'+url.split('#')[1]+']').tab('show') ;
    }

    // Change hash for page-reload
    $('.nav-pills a').on('shown', function (e) {
        new_hash = e.target.hash;

        if(history.pushState) {
            history.pushState(null, null, new_hash);
        }
        else {
            location.hash = new_hash;
        }

    })