- provide :title, "Pending Conent"
%h2.page-header
  = "Pending #{@content.ar_model}"

%table{id: "table", class: "table table-hover sortable"}
  - item = @content.item
  - atts = item.attributes
  %thead
    %tr
      -# headers
      - if @content.ar_model == "Project"
        %th Title
        %th Sources
      - else 
        - atts.delete("id")
        - atts.delete("updated_at")
        - atts.delete("owner_id")
        - atts.each do |key,value|
          - case key
          - when "flaggable_id"
            %th= "Project"
          - else
            %th= key.humanize
  %tbody
    %tr{id: "row"}
      - if @content.ar_model == "Project"
        %td= item.title
        - url_list = ""
        - item.sources.each do |src|
          %td= link_to(src.url, src.url)
      - else
        - atts = item.attributes
        - atts.delete("id")
        - atts.delete("updated_at")
        - atts.delete("owner_id")
        - atts.each do |att|
          - key = att[0]
          - value = att[1]
          - case key
          - when "created_at"
            %td= @content.created_at.to_s(:short)
          - when "project_id"
            %td= link_to(value, "/projects/#{value}")
          - when "flaggable_id"
            %td= link_to(value, "/projects/#{value}")
          - else
            %td= value


- content_id = @content.id
%a.btn.manageable{"data-action" => "approve", "c_id" => content_id}Approve
%a.btn.manageable{"data-action" => "deny", "c_id" => content_id}Delete

:javascript
  
  var manage = function(){
    var action = $(this).attr("data-action")
    var id = $(this).attr("c_id")
    var review_url = "/review_entries/" + id
    if (action == "approve")
    {
      var approve = { "approve": true };
    }
    else { var approve = "approve"; }
    $.ajax({
      url: review_url,
      data: approve,
      type: 'DELETE',
      success: function(result) {
        document.location.href = '../review_entries';
      }
    });
  }
  $(".manageable").click(manage)
