<%
cutoff = current_user.feed.length > 10 ? -10 : 0
active_feed = current_user.feed.sort!{ |a,b| a[:created_at] <=> b[:created_at]}[cutoff..-1] 

%>
<ul>
<% active_feed.each do |f| %>
	<% 
	agent = User.find(f.whodunnit).owner ? User.find(f.whodunnit).owner : User.find(f.whodunnit)  
	patient = f.item_type.constantize.find(f.item_id)
	verb = "#{f.event}d"
	patient_link_text = f.item_type == 'Project' ? patient.title : patient.name 
	%>
	<li>
		<%= link_to agent.name, agent %> <%= verb %> <%= f.item_type.downcase %> "<%= link_to patient_link_text, patient %>" (<%= f.created_at.strftime("%l:%M%P, %d %B %Y") %>)
	</li>
<% end %>
</ul>