<% 
# These helpers probably belong somewhere else. sorry!

def get_agent(feed_item)
	if feed_item.whodunnit
	   User.find(feed_item.whodunnit).owner ? User.find(feed_item.whodunnit).owner : User.find(feed_item.whodunnit)
	else 
		Organization.new(name: "Anonymous")
	end
end 

def get_name(feed_item, patient)
	if feed_item.item_type == 'Project'
		patient.title
	elsif feed_item.item_type == 'Comment'
		patient.content[0..25] + '...'
	elsif feed_item.item_type == 'Flag'
		patient.flag_type ? patient.flag_type.name : patient.source[0..25]
	elsif ApplicationHelper::PROJECT_ACCESSORY_OBJECTS.include? feed_item.item_type
		if this_project = Project.find_by_id(patient.project_id)
			"#{feed_item.item_type} of project "+ this_project.title
		else 
			"#{feed_item.item_type}"
		end
	elsif patient.respond_to?("name")
		patient.name
	else 
		"(unnamed)"
	end
end	

def get_path(feed_item, patient)
	if ApplicationHelper::PROJECT_ACCESSORY_OBJECTS.include? feed_item.item_type
		Project.find_by_id(patient.project_id)
	elsif feed_item.item_type == 'Flag'
		if ApplicationHelper::PROJECT_ACCESSORY_OBJECTS.include? patient.flaggable_type
			Project.find_by_id(patient.flaggable_type.constantize.find(patient.flaggable_id))
		else 
			Project.find_by_id(patient.flaggable_id)
		end
	else
		patient
	end
end



%>
<ul>
	<% feed.each do |f| 
			agent = get_agent(f) 
			verb = "#{f.event}#{f.event[-1]=="e" ? "" : "e"}d"
	%>
			<% if patient = f.item_type.constantize.find_by_id(f.item_id)
				patient_link_text = get_name(f, patient) # see helper above
				patient_path = get_path(f, patient) # see helper above
				restore_path = "/versions/#{f.id}/revert"
				%>
			<li>
				<%= link_to agent.name, agent %> <%= verb %> <%= f.item_type.downcase %> "<%= link_to patient_link_text, patient_path %>" (<%= distance_of_time_in_words_to_now(f.created_at) %> ago) 
					<%= link_to("Click to revert to this version", restore_path, method: :post) if f.item_type == "Project" && current_user_is_aiddata_admin %>
			</li>
		 <% else 
				patient_text = "a #{f.item_type}"
				restore_path = "/versions/#{f.id}/revert"
			%>
			<li>
				<%= link_to agent.name, agent %> <%= verb %> <%= f.item_type.downcase %> "<%= patient_text %>" (<%= distance_of_time_in_words_to_now(f.created_at) %> ago) 
					<%= link_to("Click to restore this record", restore_path, method: :post) if current_user_is_aiddata_admin %>
			</li>
	    <% end %>
	<% end %>
</ul>
