#recent-changes
  %h3.text-warning
    Recent Changes
    %small.pull-right
      %i Hover to see all changes
  %ul.unstyled
    - count = 0
    - Version.where("item_type in(?)", (ApplicationHelper::PROJECT_ACCESSORY_OBJECTS + ['Project'])).last(10).reverse.each do |act|
      :ruby
        type = act.item_type
        # don't want loandetails
        next if type == "LoanDetail"

        # only want 5
        next if count > 4 

        class_name = type.constantize
        id = act.item_id
        object = class_name.find_by_id(id)
        next if object.nil?

        case act.event
        when "update"
          action = "Updated "
        when "destroy"
          next
        else
          action = "New "
        end
        
        if type == 'Geopolitical'
          type = 'Recipient'
        end

        url = link_to_related_project(object)
        # link to subheader
        url << "##{type}" unless type == "Project"
        project = related_project(object)
        link = link_to(project.title, url) unless project.nil?
      %li.change
        %p
          %strong 
            = "#{action} #{type.titleize}:"
          = "#{link}".html_safe
        
          %span.muted
            = "(#{project.to_english(exclude_title: true)})"
          %span
            = "#{ time_ago_in_words act.created_at} ago"
      - count += 1

:javascript
  
  function normal_state () {
    $('.change').hide()
    $('.change:first-child').show()
  }

  normal_state()

  $("#recent-changes")
    .mouseenter(function() {
      $('.change').show()
    })
    .mouseleave(function() {
      normal_state()
    })

  setTimeout(function() {
      console.log("fetching!")
      $('#recent-changes').load('/recent');
  }, 5000);

