<% provide(:title, "#{type}: #{object.name}") %>
<% provide(:first_header, "#{type}: #{object.name}") %>

<% hidden_attributes = ["created_at", "updated_at", "id"] %>

<% object.attributes.each_pair do |k, v| %>
	<% if !hidden_attributes.include?(k) %>
		<p class='span12'><b><%= k.gsub(/_/, ' ').capitalize %>:</b> <%= v.to_s %> </p>
	<% end %>
<% end %>
<% if @has_projects %>
	<p class='span12'> Referenced by <b><%= link_to pluralize(object.projects.count, "project"), "/projects?#{type.downcase.gsub(/\s/, '_')}_name=#{object.name.gsub(/\s/, '+')}" %></b>. </p>
<% end %>
<p>
	<% if current_user_is_aiddata_admin %>
		<%= link_to "Edit", "/#{type.pluralize.downcase.gsub(/\s/, '_')}/#{object.id}/edit" %> |
		<%= link_to "Destroy", "/#{type.pluralize.downcase.gsub(/\s/, '_')}/#{object.id}", method: :delete, confirm: "Are you sure? All codes with this value will become 'Unset'. " %> | 
	<% end %> 
	
	<%= link_to "See All #{type.pluralize}", "/#{type.pluralize.downcase.gsub(/\s/, '_')}" %>
</p>
