<% provide(:title, "#{type}") %>
<% provide(:first_header, "#{type}") %>

<%= simple_form_for(object) do |f| %>
	<% object.attributes.each_pair do |k, v| %>		  	
	  		<% if !["created_at", "updated_at", "id"].include? k %>
				  <td><%= f.input k.to_sym %></td>
		    <% end %>
	<% end %>
	<%= f.button :submit, "Save" %>
<% end %>

<%= link_to 'Show', object %> |
<%= link_to 'See All', "/#{type.pluralize.downcase.gsub(/\s/, '_')}" %>

