<h1>Listing tieds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Iati code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tieds.each do |tied| %>
  <tr>
    <td><%= tied.name %></td>
    <td><%= tied.iati_code %></td>
    <td><%= link_to 'Show', tied %></td>
    <td><%= link_to 'Edit', edit_tied_path(tied) %></td>
    <td><%= link_to 'Destroy', tied, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tied', new_tied_path %>
