<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tied.name %>
</p>

<p>
  <b>Iati code:</b>
  <%= @tied.iati_code %>
</p>


<%= link_to 'Edit', edit_tied_path(@tied) %> |
<%= link_to 'Back', tieds_path %>
