	<h2>Leave a Comment</h2>
	<%= simple_form_for(@comment, method: :post, url: comments_path, html: {class: "span9"}) do |f| %>
		<%= f.input :project_id, label: "Leave a comment for '#{@project.title}':",  input_html: {style: "display:none;", value: @project.id} %>
		<%= f.input :name %>
		<%= f.input :email, hint: "For validation only -- not published, not shared." %>
		<%= f.input :content, label: "Message", input_html: {rows: 5} %>
		<%= f.button :submit, "Submit" %>
	<% end %>
