<% user = current_user %>
<% user_name = (user && user.name) || nil %>
<% user_email = (user && user.email) || nil %>
<%= simple_form_for(@comment, method: :post, 
                              url: comments_path,
                              novalidate: false,
                              defaults: {input_html: { align: "center" }},
                              html: { onsubmit:  "return confirm_terms_and_conditions(this)"}
          ) do |f| %>
    <input name='definitely_came_from_web_form' type='hidden' value='true'/>
    <%= f.input :project_id, label: "Leave a comment for '#{@project.title}':",
      input_html: {style: "display:none;", value: @project.id} %>
    <div class='row-fluid'>
      <%= f.input :name, wrapper_html: {class: "span6"}, input_html: {value: user_name }%>
      <%= f.input :email, wrapper_html: { class: "span6"}, input_html: { value: user_email },
                hint: "For validation &ndash; not published or shared.".html_safe %>
    </div>
    <% if not user %>
      <p class='row-fluid'>
        Unless you <%= link_to "sign in", signin_path %>,
        your comment will be reviewed by AidData before being posted. 
      </p>
    <% end %>
		<%= f.input :content, label: "Message", input_html: {class: "row", rows: 5} %>
    <div class='row-fluid'>
      <div class='span6'>
        <input style='display:inline;' type='checkbox' required="true" id='terms_and_conditions'/>
        <label style='display:inline;'>
          I accept the <%= link_to "terms and conditions", "http://aiddata.org/disclaimer-and-license" %>.
        </label>
      </div>
      <div class='span6'>
        <%= f.button :submit, "Submit", class: "btn btn-info" %>
      </div>
    </div>

    
<% end %>
