<div class='row'>
  <div class="center">
    <a class="btn btn-primary" data-toggle="modal" href="#myModal">
       Export as CSV (<%= pluralize(@search.total, "Project") %>)</a>


    <div class="modal hide" id="myModal" >
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Search Export</h3>
      </div>
      <div class="modal-body">
        <p> 
          <h4>Search Parameters</h4><br>
          <% 
            display_params = {}

            scope_val = params["scope"]
            #if no scope is present, scope defaults to all
            scope_val ||= "All"
            scope_val = scope_val.gsub('_',' ').titleize
            display_params["Scope"] = scope_val
            params.each do |param|
              unless %w(action controller scope).include?(param[0])
                key = param[0].gsub('_',' ').titleize
                value = param[1].gsub('_',' ').titleize
                key.gsub!(' String', '')
                display_params[key] = value
              end
            end
          %>
          <table id ="param_table" class="table table-condensed" align="center">
            <!-- Table header -->
            <thead>
              <tr> 
                <th></th>
                <th></th>
              </tr>
              <tr>
            </thead>

            <!-- Table body -->

            <tbody>
              <% display_params.each do |param| %>
                <tr>
                  <td><%="#{param[0]}:"%></td>
                  <td><%="#{param[1]}"%></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <h4> Matched</h4><br>
          <%
            sum = 0
            proj_count = 0
            @all_projects.each do |project|
              proj_usd = project.usd_2009
              proj_usd ||= 0
              sum += proj_usd
              proj_count += 1
            end
            @search.results.each do |project|
            end
          %>
          <%= "#{pluralize(proj_count, "Project")}"  %><br><br>
          <%= "$#{number_with_precision(sum, precision: 2, delimiter: ',')}
           (USD 2009)" %><br>
          <br>

          
          <%= simple_form_for(@export, method: :post,
                                       url: exports_path,
                                       html: { class: "form-horizontal"}) do |f| %>
            <%= f.email_field :email,
                              placeholder: 'enter email',
                              class: 'span3' %>
            <%= f.input :projects, as: :hidden, input_html: {value: @all_projects.map(&:id)} %>
            <%= f.button :submit %>
          <% end %>
          <!--
          <form action="" id="export-form" class="form-horizontal"> 
            <div class="control-group">
              <input type="text" align "center" id="inputEmail"
              placeholder="Email" class="input-large">
            </div>
          </form>
          -->
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to("Email me the CSV", @export, {class: "btn btn-primary"}) %>
        <!--<a href="/export" class="btn btn-primary">Email me the CSV</a> -->
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
<script>
  $( ".selector" ).bind( "dialogopen", function(event, ui) {
    $( "#export-form").validationEngine();
  });
</script>
