<div class='fields row-fluid' style="background-color:#faa">
	<div class='row-fluid'>
		<%= f.input :url, wrapper_html: {class: 'span9'}, input_html: { class: 'url-input'} %>
		<div class='span2'>
			<i class='icon-share' onclick="var target=$(this).parent().siblings().find('.url-input').val(); if (target.substr(0,7) != 'http://') { target = 'http://'+target; } window.open(target, '_blank')"></i>
		</div>
		<i class='span1'><%= link_to_remove_fields f %></i>
	</div>
	<div class='row-fluid'>
		<%= f.association :source_type, wrapper_html: {class: 'span3'} %>
		<%= f.association :document_type, label: "Doc. Type", wrapper_html: {class: 'span3'} %>
		<%= f.input :date, include_blank: true, 
							input_html: { value: '', class: 'span4' }, 
							use_short_month: true, 
							start_year: 1980, 
							end_year: 2020,
							wrapper_html: {class: "project-date span6"} %>
	
		
	</div>

</div> 