#project-form-wrapper.project-form
  = simple_form_for(@project) do |f|

    = f.hidden_field :user_id, value: current_user.id
    = f.error_notification
    #project-form-content

      #project-form-project.container-fluid

      .row-fluid
        #project-form-loan-detail
          = f.simple_fields_for :loan_detail do |loan_detail_form|
            = loan_detail_form.association :loan_type,wrapper_html: {class: "span2"}
            = loan_detail_form.input :interest_rate,wrapper_html: {class: "span2"}, hint: "In %"
            = loan_detail_form.input :grant_element,wrapper_html: {class: "span2"}, hint: "In %."
            = loan_detail_form.input :grace_period,wrapper_html: {class: "span2"}, hint: "Years until first payment."
            = loan_detail_form.input :maturity,wrapper_html: {class: "span2"}, hint: "Years until final payment."
            %span.muted.span2
              The grant element will be
              %a{target: '_blank', href: 'http://aiddata-loan-calculator.herokuapp.com'}
                calculated automatically
              if
              %strong
                maturity, interest rate, and transaction value
              are present.
      / .row-fluid

      /   #project-form-sources.span5.project-accessory-fields
      /     %p
      /       %strong
      /         Sources:
      /       = link_to_add_fields add_one_label, f, :sources
      /     = f.simple_fields_for :sources do |srcs|
      /       = render 'fields_for_source', f: srcs




      .row-fluid
        = f.input :iteration, as: :hidden, hint: "Iteration: #{@project.iteration += 1}"
        = f.input :owner_id, as: :hidden,  hint: "Owner: "+ (@project.owner.nil? ? 'None' : @project.owner.name)
        = f.button :submit, "Save", class: 'btn submit-button' 
        = f.button :submit, "Save", style:"min-width:200px", class: 'submit-button btn-success btn-large on-nav-bar'
:javascript
  $(document).keydown(function(e) {
    // SUBMIT FORM ON CTL-S
      if (
        (e.which == '115' || e.which == '83' || String.fromCharCode(event.which).toLowerCase() == 's' ) &&
        (e.ctrlKey || e.metaKey)
      ) {
          e.preventDefault();
          changed = false;
          $('.edit_project, .new_project').submit()
      }
  });
