<% @unset_data = "<span class='unset-data'>&mdash;</span>".html_safe %>
<% @flag_counter = 0 %>
<div class="project-page ">


<div class='row-fluid'>
<h1 class='project-header page-header'>
  <%= @project.title %>
  <% if !@project.active %>
    <span id="inactive-project">(Inactive Record)</span>
  <% end %>
   <br>
   <small class="<%= @project.is_stage_one == "Is Stage One" ?  'alert alert-warning' : "" %>" >
    <%= @project.to_english(exclude_title: true) %> |  ID: <%= @project.id %>
    <% if @project.is_stage_one == "Is Stage One" %>
      <strong>
        (This record is in <%= link_to "Stage One", content_by_name_path("methodology") %>)
      </strong>
    <% end %>
  </small>
</h1>
</div>
<div class="row-fluid">


  <div class= "span8">
    <div class='row-fluid'>
      <h3>Project Details:</h3>
    </div>
    <div class='row-fluid'>
      <ul class="unstyled span6"> 
        <%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Donor", heading: "Donor"} %> 
        <li>
          <b>Recipient Countries:</b>
          <%= render 'project_geopoliticals' %>
        </li>
        <%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Year", heading: "Commitment Year"} %> 
          <% if @project.year_uncertain %>
            <%= render partial: "project_detail", locals: {container_tag: "li", class_name: "YearUncertain", heading: ""} %>
          <% end %>
        <%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Usd_2009", heading: "Total Amount (USD-2009)" } %>
        <%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "CrsSector", heading: "CRS Sector"} %>      
        <%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "FlowType", heading: "Flow Type"} %>
        <%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "VisibleFlowClass", heading: "Flow Class"} %>

        <%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Scope", heading: "Scope" } %>
        <%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Verified", heading: "Verified"} %>
      
      </ul>
    
      <ul class='unstyled span6'>
        <%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "Intent", heading: "Intent"} %>
        <%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "Status", heading: "Status"} %>
        <%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "SectorComment", heading: "Sector Comment"} %>      
        <%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "DebtUncertain", heading: "Debt Uncertain"} %>      
        <%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "IsCommercial", heading: "Commercial"} %>     
        <%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "LineOfCredit", heading: "Line of Credit"} %>     
        <%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "IsCofinanced", heading: "Is Cofinanced"} %>
      </ul>
    </div>
  </div>
  <div class="span4" >
    <%= render 'project_files' %>
  </div>
  
</div>

<% if current_user_is_aiddata %>
  <div class='row-fluid'>
    <span class='span12'>
      <%= render 'robocode' %>
    </span>
  </div>
<% end %>

<div class="row-fluid">
  <h4>Description:</h4>
  <ul class='unstyled'>
    <%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Description", heading: ""} %>
    <%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Capacity", heading: "Capacity" } %>
  <ul>
</div>


<div class="row-fluid">
  <div class="span3">
    <h4>Participating Organizations:</h4>
    <%= render 'project_participating_organizations' %>
  </div>
  <div class="span3">
    <h4> Contacts:</h4>
      <%= render 'project_contacts' %>
  </div>
  <div class="span3">
    <h4>Dates:</h4>
    <ul class='unstyled'>
        <%= render partial: 'project_detail', locals: {container_tag: "li",
          class_name: "StartPlanned", heading: "Start (Planned)"} %>

        <%= render partial: 'project_detail', locals: {container_tag: "li", 
          class_name: "StartActual", heading: "Start (Actual)"} %>

        <%= render partial: 'project_detail', locals: {container_tag: "li", 
          class_name: "EndPlanned", heading: "End (Planned)"} %>

        <%= render partial: 'project_detail', locals: {container_tag: "li", 
          class_name: "EndActual", heading: "End (Actual)"} %>
    </ul>
  </div>
  <div class='span3'>
      <h4>Loan Details:</h4>
      <ul class='unstyled'>
        <%= render partial: 'project_detail', locals: {container_tag: "li",
          class_name: "LoanType", heading: "Loan Type"} %>

        <%= render partial: 'project_detail', locals: {container_tag: "li",
          class_name: "InterestRate", heading: "Interest Rate",
          units: :percentage } %>

        <%= render partial: 'project_detail', locals: {container_tag: "li",
          class_name: "Maturity", heading: "Maturity",
          units: :years} %>

        <%= render partial: 'project_detail', locals: {container_tag: "li",
          class_name: "GracePeriod", heading: "Grace Period", units: :years} %>

        <%= render partial: 'project_detail', locals: {container_tag: "li",
          class_name: "GrantElement", heading: "Grant Element",
          units: :percentage } %>
      </ul>
  </div>
</div>


<div class='row-fluid'>
  <div class="span6">
    <div class='row-fluid'>
      <h4>Transactions:</h4>
      <%= render 'project_transactions' %>
    </div>
    <div class='row-fluid'>
      <h4>Sources:</h4>
      <%= render 'project_sources' %>
    </div>
    <% if current_user_is_aiddata %>
      <%= render 'resources' %>
    <% end %>
  </div>

  <div class='span6 well'>
    <h2>Comments</h2>
    <%= render 'project_comments' %>
    <%= render 'comment_form' %>
  </div>
</div>
<% if current_user_is_aiddata %>
  <div class='row-fluid '>
    <div class='well span6'>
      <h4>Flow Class Code Rounds:</h4>
      <ul class='unstyled'>
        <li><b>Arbitrated Value:</b> <%= @project.flow_class.show_round("master") %> </li>
        <li><b>Round 1:</b> <%= @project.flow_class.show_round(1) %> </li>
        <li><b>Round 2:</b> <%= @project.flow_class.show_round(2) %> </li>
      </ul>
        <span class='muted' ><i> All three code rounds are only visible to 
          AidData-affiliated users.</i></span>
      </div>
  </div>
<% end %>

</div>
<%= render('project_flaggable')  %>
