	
	<%= simple_form_for(@flag, method: :post, url: flags_path,  html: {class: "flag-popover"}) do |f| %>
		<%= f.input :flag_type_id, wrapper_html: {style: "display:none;"}, input_html: {value: flag_type_id } %>
		<%= f.input :source, hint: "Source URL" %>
		<%= f.input :comment, label: "Message", input_html: {rows: 2} %>
		<%= f.button :submit, "Submit" %>  
	    <a style="color:#a00;float:right;vertical-align:bottom" class="cancel_flag" href="#">Cancel</a>
	<% end %>