<% @unset_data = "<span class='unset-data'>Unset</span>".html_safe %>
<% @flag_counter = 0 %>
<div class="project-page">


<div class="row">
	<div class= "project-box span10">
	<h3> Overview:</h3>
		<ul class="project-overview span6"> 
			<%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Donor", heading: "Donor"} %> 
			<%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Year", heading: "Commitment Year"} %> 
				<% if @project.year_uncertain %>
					<%= render partial: "project_detail", locals: {container_tag: "li", class_name: "YearUncertain", heading: ""} %>
				<% end %>
			<%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Usd_2009", heading: "Total Amount (USD-2009)" } %>
			<%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Verified", heading: "Verified"} %> 
			<li><b>ID:</b> <%= link_to @project.id,  @project %></li>
			<li><b>Record Owner:</b> <%= @project.owner.nil? ? 'None' : link_to(@project.owner.name, @project.owner) %></li>
		
		</ul>
		<div class="span3" style="background-color:#dad0d0"><p> What can go here?</p><br><br><br><br><br><br></div>
	</div>
	<div class="project-box span10">
		<h3>Description:</h3>
		<ul>
			<%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Description", heading: ""} %>
			<%= render partial: "project_detail", locals: {container_tag: "li", class_name: "Capacity", heading: "Capacity" } %>
		<ul>
	</div>
</div>
<div class="row">
	<div class="project-categories project-box span5">
		<h3>Codes & Markers: </h3>
		<ul>
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "OdaLike", heading: "Flow Class"} %>
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "Status", heading: "Status"} %>
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "Sector", heading: "Sector"} %>
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "SectorComment", heading: "Sector Comment"} %>			
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "DebtUncertain", heading: "Debt Uncertain"} %>			
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "CrsSector", heading: "CRS Sector"} %>			
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "FlowType", heading: "Flow Type"} %>
			<!-- TIED has been removed. -->
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "IsCommercial", heading: "Commercial"} %>			
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "LineOfCredit", heading: "Line of Credit"} %>			
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "IsCofinanced", heading: "Is Cofinanced"} %>				
		</ul>
	</div>
	<div class="project-dates project-box span5">
		<h3>Dates:</h3>
		<ul>
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "StartPlanned", heading: "Start (Planned)"} %>
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "StartActual", heading: "Start (Actual)"} %>
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "EndPlanned", heading: "End (Planned)"} %>
			<%= render partial: 'project_detail', locals: {container_tag: "li", class_name: "EndActual", heading: "End (Actual)"} %>
		</ul>
	</div>
</div>
<div class='row'>
	
	<div class="project-transactions project-box span5">
		<h3>Transactions:</h3>
		<%= render 'project_transactions' %>
	</div>
	
	<div class="project-geopoliticals project-box span5">
		<h3>Recipient Countries:</h3>
		<%= render 'project_geopoliticals' %>
	</div>
</div>
<div class='row'>
	<div class="project-participating-organizations project-box span5">
		<h3>Participating Organizations:</h3>
		<%= render 'project_participating_organizations' %>
	</div>
	<div class="project-contacts project-box span5">
		<h3>Contacts:</h3>
			<%= render 'project_contacts' %>
	</div>
</div>
<div class='row'>
	<div class="project-sources project-box span10">
		<h3>Sources:</h3>
		<%= render 'project_sources' %>
	</div>
</div>

</div>
<%= render('project_flaggable')  %>
