<ul>
	<% @project.contacts.each do |c| %>
		
		<li class="project-contact project-li flaggable" flaggable_type='Contact' flaggable_id=<%= c.id %>>
			<% if !c.name.blank? %>
				<b><%= c.name.blank? ? "Name "+unset_data : c.name %></b> 
				<%= c.position.blank? ? '' : ", #{c.position}" %> 
				<%= c.organization.nil? ? '' : link_to(" (#{c.organization.name})", c.organization) %>
			<% end %>
			<% c.flags.each do |flag| %>
					<%= render partial: 'flag_superscript', locals: { flag: flag} %>
			<% end %>
		</li>
		
	<% end %>
</ul>
