<% 
	current_url_dirty = "#{request.protocol}#{request.host_with_port}/projects#{request.fullpath.gsub(/\/(projects)?/, '')}"
	@current_url =  current_url_dirty
		.gsub(/page=\d+&*/, '')
	@current_url_human_readable = URI.decode(@current_url).gsub(/([^\s])\+/, '\1 ')

	%>
<% @joiner = @current_url.index("?") ? "&" : "?" 
	%>
<% @current_url_without_scope = @current_url.gsub(/\&?scope_names[^=]*=.+[\&\?]?/, '') %>


<div id='project-facets' class='well well-small'>
	<div class="row-fluid">
		<div class='span12'>
			<%= render partial: 'projects/search_scope' %>
		</div>
	</div>

	<%= form_tag "/projects", method: :get do %>	
		<div class='row-fluid'>	 
			<b class='span1'>Search: </b> 
			<%= text_field_tag :search, params[:search], class: "span7" %>
			<%= submit_tag "Submit", name: nil, class: "btn btn-primary span2" %>
		</div>

		

		<div id='project-facets-button' class='row-fluid' style='display:none;text-align:center;'>
			<div class='span12'>

				<span class='btn btn-info' style='text-align:center;margin:5px;' onclick='toggle_search_params()'>Show Filter Options</span>
			</div>
		</div>

		<% 
			@all_projects = Project.search do
				(WORKFLOW_FACETS + FACETS).each do |f|
					facet f[:sym]
				end

			end 
		%>
		<div id='facets'>
			<div class='row-fluid'>
				<div class='span12'>
					<p class='row-fluid'>
						<b class='span2'>Filters:</b> 
						
						<i class=''>
							<%= link_to_function "Unselect All", "$('.search_check').prop('checked', false); update_all_check_counts();" %>
						</i>
						|
						<i class='muted'>
							See the 
							<%= link_to "glossary", content_by_name_path("glossary") %>
							for field definitions.
						</i>
					</p>
				</div>
			</div>
			<div class='row-fluid'>
				<% visible_facets = FACETS.select{|f| f[:name] != ""} %>
				<% third = (visible_facets.count/3).round + 1 %>
				<% visible_facets.each_slice(third) do |slice| %>

					<div class='span4 pull-left'>
						<ol>
						<% slice.each do |f| %>
							<%= render partial: 'projects/search_facet', locals: {f: f} %>
						<% end %>
						</ol>
					</div>
					
				<% end %>
			</div>
			<% if current_user_is_aiddata %>
				<div class='row-fluid'>			
					<p><b>AidData Workflow Filters:</b><p>
					<ol>
						<% WORKFLOW_FACETS.each do |f| %>
							<%= 
								render partial: 'projects/search_facet', locals: {f: f} 
							%>
						<% end %>
					</ol>					
				</div>
			<% end %>
			<%= submit_tag "Submit", name: nil, class: "btn btn-primary" %>	
		</div>
			
	<% end %>
</div>
<script>
	function toggle_search_params() {
		var facet_box = $('#facets')
		var facet_button = $('#project-facets-button')
		if (facet_box.is(":visible"))
		{
			facet_box.hide()
			facet_button.show()

		}
		else {
			facet_box.slideDown()
			facet_button.slideUp()
		}
	}
	<% if params[:utf8].blank? %>
		toggle_search_params()
	<% end %>
</script>