<div class='row'>
  <div class="center">
    <a class="btn btn-info" data-toggle="modal" href="#export_dialog">
      Export as CSV (<%= pluralize(@search.total, "Project") %>)
    </a>
    <% if current_user_is_aiddata %>
      <%= link_to "Quick Export (CSV)", "#{@current_url.gsub(/projects/, 'projects.csv')}", class: 'btn' %> 
      <i>(AidData only)</i>
    <% end %>


    <div class="modal hide" id="export_dialog" >
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Search Export</h3>
      </div>
      <div class="modal-body">
      <p> 
        <h4>Search Parameters</h4>
        <% 
          display_params = {}

          scope_val = (params["scope"] || ["All"] ).join(", ")
          #if no scope is present, scope defaults to all
          scope_val = scope_val.gsub('_',' ').titleize
          display_params["Scope"] = scope_val
          params.each do |param|
            unless %w(action controller scope utf8).include?(param[0])
              key = param[0].to_s.gsub('_',' ').titleize
              value = param[1].to_s.gsub('_',' ').titleize
              key.gsub!(' String', '')
              display_params[key] = value
            end
          end
        %>
        <table id ="param_table" class="table table-condensed" align="center">
        <!-- Table header -->
          <thead>
            <tr> 
              <th></th>
              <th></th>
            </tr>
          </thead>

          <!-- Table body -->

          <tbody>
            <% display_params.each do |param| %>
              <tr>
                <td><%="#{param[0]}:"%></td>
                <td><%="#{param[1]}"%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <h4>Contents:</h4>
        <%
          sum = 0
          proj_count = @search.total
          # RDM 3-6
          #
          # deactivated because it's just such a 
          # drag on performance. Another option is to 
          # make an AJAX call to get the sum, then load it to the HTML
          #
          # @all_projects.each do |project|
          #   proj_usd = project.usd_2009
          #   proj_usd ||= 0
          #   sum += proj_usd
          #   proj_count += 1
          # end
         
        %>
        <%= "#{pluralize(proj_count, "Project")}"  %>
        <br>
        <% 
          # "$#{number_with_precision(sum, precision: 2, delimiter: ',')} (USD 2009)" 
        %>
        <br>

        <%= simple_form_for(@export, method: :post,
          url: exports_path,
          html: { class: "form-horizontal"}) do |f| %>

          <%= f.email_field :email, 
            placeholder: 'enter email',
            class: 'span3' %>
          <%= f.input :projects, as: :hidden, input_html: {value: @full_results.map(&:id)} %>
      </p>

      </div>
      <div class="modal-footer">
      <%= f.button :submit, class: 'btn-primary' %>
      <% end %>
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div> 
    </div>
  </div>
</div>

<%= javascript_include_tag "validate/index" %>

<script>
  $( ".selector" ).bind( "dialogopen", function(event, ui) {
    $( "#export-form").validationEngine();
  });

</script>
