<div class='fields span4'>
	<%= f.input :url %>
	<%= f.association :source_type %>
	<%= f.association :document_type %>
	<%= f.input :date, include_blank: true, input_html: {value: '' }, use_short_month: true, wrapper_html: {class: "project-date"} %>
	<p>
		<i><%= link_to_remove_fields "Remove Source", f %></i>
	</p>
</div>