%h2 Suggest a new project
- @project = Project.new
= form_for @project do |f|
  #suggest
    = hidden_field_tag 'suggest', 'true'
    = f.label :title, 'Title'
    = f.text_field :title, class: "span4"
    %br
    = f.label :sources, 'Sources'
    %br
    %input{id: "add", type: "button", class: "btn",
    value: "Add another source", onClick: "addInput('suggest')"}
    %br
    = fields_for :sources do |srcs| 
      = srcs.text_field :url, class: "span4", placeholder: "url",
                        name: "project[sources_attributes][][url]"
    %br
  #submit
    = f.submit class: "btn btn-primary", value: "Submit"


:javascript
  var counter = 1;
  var limit = 20;
  function addInput(divName){
      if (counter == limit)  {
            alert("You have reached the limit of adding " + counter + " sources");
      }
      else {
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "<input id='sources_url' class='span4' type='text' placeholder='url' name='project[sources_attributes][][url]'><br>";
            document.getElementById(divName).appendChild(newdiv);
            counter++;
      }
  }

