.row-fluid
  %h1.page-header Suggest a New Project


.row-fluid
  .span6
    .plain
      %h4 Know about something we don't?
      %p
        Why not share your knowledge with the community? 
      %p
        Just leave a 
        %strong
          title 
        and some 
        %strong
          links to sources 
        here, and we'll review the entry and add it to
        = (link_to "the database", projects_path) + "."


  .span6.well
    - @project = Project.new
    -# - @project.sources << Source.new
    -# - @project.sources << Source.new
    = form_for @project, url: '/projects/suggest' do |f|
      #suggest
        = hidden_field_tag 'suggest', 'true'
        = f.label :title, 'Title'
        = f.text_field :title, placeholder: "Suggested Project Title"
        %br
        %a.btn.btn-mini{id: "new_source"}
          +
        Add Another Source
        = f.label :sources, 'Sources'
        -# = f.fields_for :sources do |srcs_fields|
        -#   = srcs_fields.text_field :url, placeholder: "URL"

      #submit
        = f.submit class: "btn btn-primary", value: "Submit"
        %a.btn.btn-danger{href: "/"}
          Cancel

    %script#source_form{type: "text/template"}
      %input{id: "project_sources_attributes_url", type: "text", 
      size: "30", placeholder: "URL",
      name: "project[sources_attributes][][url]"}

:javascript
  function addSource() {
    
    form = $('#source_form').html()
    $('#suggest').append(form)
  }
  addSource();

  $('#new_source').click(function() {
    addSource();
  });
  
