<% provide(:title, "Projects") %>
<% provide(:first_header, "View Projects") %>
<% current_url = "#{request.protocol}#{request.host_with_port}#{request.fullpath}".gsub(/\??page=\d+&*/, '') %>
<% joiner = current_url.index("?") ? "&" : "?" %>
<% def order_by_params(field)
	"order_by=#{field}&dir=#{params[:dir]=="asc" ? "desc" : "asc"}"
end
%>
<% def active_or_inactive(project)
	project_display_name = project.title.blank? ? "#{project.id} (No title)" : project.title
	if !project.active 
		"<span class='inactive-project-title'>#{project_display_name} (Inactive)</span>".html_safe
	else
		project_display_name
	end
end %>

<% if !(request.env['HTTP_REFERER'] =~ /\/projects/) && params[:scope] == "official_finance"
	  flash.now[:success] =  "You are viewing Chinese Official Finance. Click the filters below to change your settings."
	 end
%> 	
<h2>Search Parameters</h2>
<%= render 'project_search' %>
<br>
<div class='row'>
	<h2><%= pluralize(@search.total, "Project") %> (<%= link_to "export as CSV", current_url.gsub(/projects/, 'projects.csv')%>)</h2>
	<%= will_paginate @projects %>
	
</div>
<br>
<table id="project-search-results">
	<thead>
		<tr >
			<% current_url_with_joiner_without_ordering = "#{current_url.gsub(/&?dir=[a-z]+/, '').gsub(/&?order_by=[0-9a-z_]+/, '')}#{joiner}" %>
			<th><%= link_to "ID", "#{current_url_with_joiner_without_ordering}#{order_by_params("id")}" %> </th>
			<th><%= link_to "Donor","#{current_url_with_joiner_without_ordering}#{order_by_params("donor_name")}"  %></th>
			<th><%= link_to "Title","#{current_url_with_joiner_without_ordering}#{order_by_params("title")}"  %></th>
			<th><%= link_to "Year","#{current_url_with_joiner_without_ordering}#{order_by_params("year")}"  %></th>
			<th><%= link_to "Recipients","#{current_url_with_joiner_without_ordering}#{order_by_params("recipient_condensed")}"  %></th>
			<th><%= link_to "Amount (USD-2009)","#{current_url_with_joiner_without_ordering}#{order_by_params("usd_2009")}"  %></th>
			<% if current_user %>
				<th>Links</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
	    <% @projects.each do |p| %>
				<%= render partial: 'index_item', locals: {p: p} %>
	    <% end %>
	</tbody>
</table>
<%= will_paginate @projects %>
