<% provide(:title, "Projects") %>
<% provide(:first_header, "View Projects") %>
<% current_url = "#{request.protocol}#{request.host_with_port}
                  #{request.fullpath}".gsub(/\??page=\d+&*/, '') %>
<% joiner = current_url.index("?") ? "&" : "?" 
	if ( !current_url.index("scope") && params[:scope] )
	 current_url += joiner + "scope=#{params[:scope]}" 
	 joiner = "&"
	end
	%>
<% def order_by_params(field)
	"order_by=#{field}&dir=#{params[:dir]=="asc" ? "desc" : "asc"}"
end
%>
<% def active_or_inactive(project)
	project_display_name = project.title.blank? ? "#{project.id} (No title)" : project.title
	if !project.active 
		"<span class='inactive-project-title'>#{project_display_name} (Inactive)</span>".html_safe
	else
		project_display_name
	end
end %>

<% #if !(request.env['HTTP_REFERER'] =~ /\/projects/) && params[:scope] == "official_finance"
	if params[:scope]
	  flash.now[:success] =  "You are viewing <b>#{SCOPES.select { |s| s[:sym].to_s == params[:scope] }[0][:name]}</b>. Click the filters below to change your settings.".html_safe
	end
%> 	
<h2>Search Parameters</h2>
<%= render 'project_search' %>
<br>
<div class='row'>
  <div class="center">
    <a class="btn btn-primary" data-toggle="modal" href="#myModal">
       Export as CSV (<%= pluralize(@search.total, "Project") %>)</a>


    <div class="modal hide" id="myModal" >
      <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Search Export</h3>
      </div>
      <div class="modal-body">
        <p> 
          <h4> Projects Matched</h4><br>
          <%= pluralize(@search.total, "Project")  %> 
          <h4>Search Parameters</h4><br>
          <%= "Scope: #{params["scope"].gsub('_',' ').titleize}" if params.include?("scope") %>
          <% 
            params.each do |param|
              unless %w(action controller scope).include?(param[0]) %>
              <%= "#{param[0].gsub('_',' ').titleize}: 
                   #{param[1].gsub('_',' ').titleize}" %><br>
              <%end
            end
          %>
          <h4> Sum of projects in USD 2009 </h4></br>
          <% 
            sum = 0
            @search.results.each do |project|
              proj_usd = project.usd_2009
              proj_usd ||= 0
              sum += proj_usd
            end
          %>
          <%= "$#{sum}" %>
        </p>
      </div>
      <div class="modal-footer"
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div>
  </div>
</div>
<%= will_paginate @projects %>
<br>
<table id="project-search-results">
	<thead>
		<tr >
			<% current_url_with_joiner_without_ordering = "#{current_url.gsub(/&?dir=[a-z]+/, '').gsub(/&?order_by=[0-9a-z_]+/, '')}#{joiner}" %>
      <th><%= link_to "ID", "#{current_url_with_joiner_without_ordering}
        #{order_by_params("id")}" %> </th>

      <th><%= link_to "Donor","#{current_url_with_joiner_without_ordering}
        #{order_by_params("donor_name")}"  %></th>

      <th><%= link_to "Title","#{current_url_with_joiner_without_ordering}
        #{order_by_params("title")}"  %></th>

      <th><%= link_to "Year","#{current_url_with_joiner_without_ordering}
        #{order_by_params("year")}"  %></th>

      <th><%= link_to "Recipients","#{current_url_with_joiner_without_ordering}
        #{order_by_params("recipient_condensed")}"  %></th>
      
      <th><%= link_to "Amount (USD-2009)","#{current_url_with_joiner_without_ordering}
        #{order_by_params("usd_2009")}"  %></th>
			<% if current_user %>
				<th>Links</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
	    <% @projects.each do |p| %>
				<%= render partial: 'index_item', locals: {p: p} %>
	    <% end %>
	</tbody>
</table>
<%= will_paginate @projects %>
