<% provide(:title, "View Projects") %>
<h1>All projects</h1>

<%= form_tag projects_path, method: :get do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag, "Search", name: nil %>
	</p>
<% end %>

<%= will_paginate %>

<ul class="projects">

    <% @projects.each do |project| %>
    <li><%= link_to project.title, project_path(project) %> (<%= project.owner.nil? ? 'No owner' : project.owner.name %>) </li>
    <% end %>

<%= will_paginate %>

</ul>