<% provide(:title, "Projects") %>
<% provide(:first_header, "Search Projects") %>

<% # @current_url and @joiner are set in _project_search.html.erb %>

<% def order_by_params(field)
	"order_by=#{field}&dir=#{params[:dir]=="asc" ? "desc" : "asc"}"
end
%>
<% def active_or_inactive(project)
	project_display_name = project.title.blank? ? "#{project.id} (No title)" : project.title
	if !project.active 
		"<span class='inactive-project-title'>#{project_display_name} (Inactive)</span>".html_safe
	else
		project_display_name
	end
end %>

<% #if !(request.env['HTTP_REFERER'] =~ /\/projects/) && params[:scope] == "official_finance"
	if params[:scope]
	  flash.now[:success] =  
	  	"You are viewing <b>#{
	  		params[:scope].map {|s| Scope.find_by_symbol(s).name}.join(' and ')
	  		}</b>. Click the filters below to change your settings.".html_safe 
	end
%> 	
<% # inside wrapper: <div class="row" id='project-facets'>	%>
	<%= render 'search' %>

<div class='row'>
	<div style='display:none;text-align:center;' class='span12' id='project-facets-button'>

		<button class='btn btn-primary' style='text-align:center;margin:5px;' onclick='toggle_search_params()'>Show Search Box</button>
	</div>
</div>

<div class='row' >
 	<%= render 'search_export' %>
 </div>
	<%= will_paginate @projects %>	

</div>
<br>
<table id="project-search-results" >
	<thead>
		<tr >
			<% current_url_with_joiner_without_ordering = "#{@current_url.gsub(/&?dir=[a-z]+/, '').gsub(/&?order_by=[0-9a-z_]+/, '')}#{@joiner}" %>
      <th><%= link_to "ID", 
      "#{current_url_with_joiner_without_ordering}#{order_by_params("id")}" 
        %> </th>

      <th><%= link_to "Donor",
      "#{current_url_with_joiner_without_ordering}#{order_by_params("donor_name")}"  
        %></th>

      <th><%= link_to "Title",
      "#{current_url_with_joiner_without_ordering}#{order_by_params("title")}"  
      %></th>

      <th><%= link_to "Year",
      "#{current_url_with_joiner_without_ordering}#{order_by_params("year")}"  
      %></th>

      <th><%= link_to "Recipients",
      "#{current_url_with_joiner_without_ordering}#{order_by_params("recipient_condensed")}"  
        %></th>
      
      <th><%= link_to "Amount (USD-2009)",
      "#{current_url_with_joiner_without_ordering}#{order_by_params("usd_2009")}"  
        %></th>
			<% if current_user %>
				<th>Links</th>
			<% end %>
		</tr>
	</thead>
	<tbody>
	    <% @projects.each do |p| %>
				<%= render partial: 'projects/search_result', locals: {p: p} %>
	    <% end %>
	</tbody>
</table>
<%= will_paginate @projects %>


<script type='text/javascript'>
	function toggle_search_params() {
		var facet_box = $('#project-facets')
		var facet_button = $('#project-facets-button')
		if (facet_box.is(":visible"))
		{
			facet_box.hide()
			facet_button.show()

		}
		else {
			facet_box.slideDown()
			facet_button.slideUp()
		}
	}
	<% if (params[:page].to_i || 1) > 1 %>
		toggle_search_params()
	<% end %>
</script>
