<% provide(:title, @project.title) %>
<% provide(:first_header, @project.title) %>


<div class="project-details row">	
	<%  if !@project.active %>
		<h1 style="display:inline;text-align:center;" id="inactive-project">-- Inactive --</h1>
	<% end %>
	<% if signed_in? && current_user.owner == @project.owner %>
			<p class='edit-project-link'><b><%= link_to "Edit this project", edit_project_path(@project) %></b></p>
	<% end %>
</div>

<ul class="nav nav-tabs" id="projectTab">
  <li class="active"><a href="#details">Project Details</a></li>
  <li><a id="flags_tab" href="#flags">Flags (<%= @flags.count %>)</a></li>
   <li><a href="#comments">Comments (<%= @project.comments.count %>)</a></li>
  <li><a href="#history">History (<%= @history.count %>)</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane active" id="details">
		<%= render 'project' %>
		<div class='row'>
			<%= render 'comment_form' %>
		</div>
	</div>
  <div class="tab-pane" id="flags">
		<h2 id='flags_header'>Flags</h2>
		<%= render 'project_flags' %>
	</div>
	<div class="tab-pane" id="history">
		<h2>History</h2>
		<%= render 'project_history' %>
	</div>
	<div class="tab-pane" id="comments">
		<h2>Comments</h2>
		<%= render 'project_comments' %>
		<div class='row'>
			<%= render 'comment_form' %>
		</div>
	</div>
</div>


<script>
  $(function () {
		$('#projectTab a').click(function (e) {
					e.preventDefault();
			$(this).tab('show');
		})
		$('#projectTab a:first').tab('show');
	})
</script>



