<div class='row-fluid'>
	<p> 
		<b><%= s.name %></b> (<i><%= s.symbol %></i>)
		<% if current_user_is_aiddata_admin %>
			<%= link_to "Edit", edit_scope_path(s) %> |
			<%= link_to "Delete", scope_path(s), method: :delete,
				 confirm: "Are you sure you want to delete this scope? (No Undo) " %>
		<% end %>
	</p>
		
	<p style='margin-left: 40px;'> 
		<%= s.description %>
	</p>
	<ul class='unstyled'>
	<% s.channels.each_with_index do |c, i| %>
		<li>
			<div class='scope_channel'>
				<%= i > 0 ? "<i> (or) </i> <br>".html_safe : "" %>
				<b>
					Channel <%= i+1 %>:
				</b>
				<% c.each_with_index do |f, f_i| %>	
					<ul class='unstyled inline'>
						<%= f_i > 0 ? "<i> (and) </i> <br>".html_safe : "" %>
						<b><%= f[:field] %></b> :
						<li>
							<%= f[:values].join("</li> <i>or</i> <li>").html_safe %>
						</li>
					</ul>
				<% end %>
			</div>
		</li>
	<% end %>
	</ul>
	<hr>
</div>