<div class='well well-small'>
  <style>
      .flexslider {
          width: 540px;
          height: 350px;
          border: 0 !important;
          margin-bottom: 3em !important;
      }
      .flexslider .frame {
          text-align: center;
          width: 100%;

      }
      .flexslider .frame  img {
          width:auto;
          height: 350px;
          max-width: 100%;
          max-height: 100%;
          display: inline-block;

      }

      .flex-direction-nav a:before  {
          font-family: "flexslider-icon";
          font-size: 40px;
          line-height: 40px;
          display: inline-block;
          content: '\f001';
      }

  </style>

  <!-- Dynamically adds images and videos to file viewer -->
  <div class="flexslider">
    <ul class="slides">
      <% if @project.get_publishable_media_items.each do |media_item| %>

          <li>
            <div class="frame">
              <% if !media_item.url.blank? %>
                  <%= raw(media_item.youtube_embed(media_item.url, 329, 540)) %>
              <% else %>
                  <%= image_tag media_item.media.url %>
              <% end %>
            </div>
          </li>
      <!-- Default image, if no files/videos are published. -->
      <% end.empty? %>
         <%= image_tag('aiddata_notag.png')%>
      <% end %>
    </ul>
  </div>

  <!-- Links for popup boxes -->
  <div class="row-fluid" >
    <div class= "span4" style="text-align:center">
      <%= link_to  "<h3>Upload File</h3>".html_safe, '#upload_file', { 'data-toggle' => 'modal', 'data-target' => "#upload_file"}%></div>
    <div class= "span4" style="text-align:center">
      <%= link_to  "<h3>Share Video</h3>".html_safe, '#share_video', { 'data-toggle' => 'modal', 'data-target' => "#share_video"}%></div>
    <div class= "span4" style="text-align:center">
      <%= link_to  "<h3>Downloads</h3>".html_safe, '#download_file', { 'data-toggle' => 'modal', 'data-target' => "#download_file"}%></div>
  </div>

  <!-- download file popup box -->
  <div id="download_file" class="modal hide fade in" style="text-align:center; padding:10px;">
      <% downloadable_media = @project.get_downloadable_media_items %>

      <% if !downloadable_media.empty? %>
        <h3>Download Files:</h3>
        <table border="1">
          <tr>
            <td></td>
            <td><b>File</b></td>
            <td><b>Size</b></td>
            <td><b>Media Source</b></td>
          </tr>
          <% downloadable_media.each do |media_item| %>
              <tr>
                <td><%= image_tag Icon.for_filename(media_item.media_file_name) %></td>
                <td><%= link_to media_item.download_text, media_item.media.url %></td>
                <td><%= number_to_human_size(media_item.media_file_size) %></td>
                <td><%= media_item.media_source_type.name %></td>
              </tr>
          <% end %>
        </table>
      <% else %>
          <p>
          <h4 style="text-align:center">
          There are currently no files to download.</h4>
          </p>
      <% end %>
  </div>

  <!-- upload file popup box -->
  <div id="upload_file" class="modal hide fade in" style="text-align:center;">
    <h3>Upload a File</h3>
      <% if current_user %>
         <%= form_tag "#{project_path @project}/media_items", :multipart => true, onsubmit: "return confirm_terms_and_conditions(this)" do %>
            <%= file_field_tag "media" %>
            <%= hidden_field_tag( "user_id", current_user[:id]) %>
            <%= submit_tag 'Upload', class: "btn btn-info" %>
         <div class='row-fluid'>
            <input style='display:inline;' type='checkbox' required="true" id='terms_and_conditions'/>
            <label style='display:inline;'>
              I accept the <%= link_to "terms and conditions", "http://www.aiddata.org/content/index/about/terms-conditions" %>.
            </label>
         </div>
         <% end %>
      <% else %>
        <p><i> Please
          <%= link_to "sign in", signin_path %>
          to contribute files!</i>
        </p>
      <% end %>
  </div>

  <!-- share video popup box -->
  <div id="share_video" class="modal hide fade in" style="text-align:center; padding:20px;">
      <h3>Share a Video</h3>
      <% if current_user %>
          <p>Enter url here:</p>
          <%= form_tag "#{project_path @project}/media_items", :multipart => true do %>
              <%= text_field_tag "url" %>
              <%= hidden_field_tag( "user_id", current_user[:id]) %>
              <%= submit_tag 'Share', class: "btn btn-info" %>
          <% end %>
      <% else %>
        <p><i> Please
          <%= link_to "sign in", signin_path %>
          to contribute files!</i>
        </p>
      <% end %>
  </div>

</div>

<script>
    // Can also be used with $(document).ready()
    // Javascript for file viewer
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide"
        });
    });
</script>