<div class='well well-small'>
  <h3>Files:</h3>

  <script>
      var url = window.location + "/media_items"
      $.get(url, print_data)

      function print_data(data) {
          var target = $('#media_items')
          if(data["contents"] && data.contents.length > 0) {
              menu = data.contents.map(function(d) {
                  url = ("/projects/<%= @project.id %>/media_items/" + d.key)

                  return "<li data-id=" + d.key + " class='document'>" +
                          '<img src="'+d.icon+'" />'  +
                          "&ensp;<a href='" + url + "'>" +
                          d.name +
                          "</a>" +
                          " </li>"
              }).join("")
          }
          else {
              menu = "<li>(No files yet, please add one below!)</li>"
          }
          target.html(menu)
          <% if current_user_is_aiddata %>
          $('.document').each(function(i) {
              render_delete_link = function(el, id) {
                  $(el).text("").removeClass("btn btn-warning btn-small")
                  $(el).append("<a class='btn btn-small btn-danger' data-method='delete' href='/projects/<%= @project.id %>/media_items/"+ id + "'>DELETE!</a>")
              }
              doc = $(this)
              doc_id = doc.attr("data-id")
              doc.append("<span class='btn btn-warning btn-small' style='margin:5px;' onclick='render_delete_link(this," + doc_id + ")'>Delete?</span>")
          })
          <% end %>

      }

  </script>
  <% if current_user_is_aiddata %>

    <% @project.get_media_items.each do |media_item| %>
      <%= link_to media_item.media_file_name, media_item.media.url %>
      <a class='btn btn-small btn-danger' data-method='delete' href='/projects/<%= @project.id %>/media_items/<%=media_item.id %>'>DELETE!</a>
      </br>
    <% end %>
  <% end %>

  <% if current_user %>
      <%= form_tag "#{project_path @project}/media_items", :multipart => true, onsubmit: "return confirm_terms_and_conditions(this)" do %>
         <%= file_field_tag "media" %>
          <%= submit_tag 'Add file', class: "btn btn-info" %>
          <div class='row-fluid'>
            <input style='display:inline;' type='checkbox' required="true" id='terms_and_conditions'/>
            <label style='display:inline;'>
              I accept the <%= link_to "terms and conditions", "http://www.aiddata.org/content/index/about/terms-conditions" %>.
            </label>
          </div>
      <% end %>
  <% else %>
      <p><i> Please
        <%= link_to "sign in", signin_path %>
        to contribute files!</i>
      </p>
  <% end %>
</div>