<div class='well well-small'>
  <style>
      .flexslider {
          width: 540px;
          height: 350px;
      }
      .flexslider .frame {
          text-align: center;
          width: 100%;

      }
      .flexslider .frame  img {
          width:auto;
          height: 350px;
          max-width: 100%;
          max-height: 100%;
          display: inline-block;
      }
  </style>

  <!-- Old code, its not needed anymore, but will keep until branch feature is complete --Aba
  <script>
      var url = window.location + "/media_items"
      $.get(url, print_data)

      function print_data(data) {
          var target = $('#media_items')
          if(data["contents"] && data.contents.length > 0) {
              menu = data.contents.map(function(d) {
                  url = ("/projects/<%= @project.id %>/media_items/" + d.key)

                  return "<li data-id=" + d.key + " class='document'>" +
                          '<img src="'+d.icon+'" />'  +
                          "&ensp;<a href='" + url + "'>" +
                          d.name +
                          "</a>" +
                          " </li>"
              }).join("")
          }
          else {
              menu = "<li>(No files yet, please add one below!)</li>"
          }
          target.html(menu)
          <% if current_user_is_aiddata %>
          $('.document').each(function(i) {
              render_delete_link = function(el, id) {
                  $(el).text("").removeClass("btn btn-warning btn-small")
                  $(el).append("<a class='btn btn-small btn-danger' data-method='delete' href='/projects/<%= @project.id %>/media_items/"+ id + "'>DELETE!</a>")
              }
              doc = $(this)
              doc_id = doc.attr("data-id")
              doc.append("<span class='btn btn-warning btn-small' style='margin:5px;' onclick='render_delete_link(this," + doc_id + ")'>Delete?</span>")
          })
          <% end %>

      }
  <div style="padding-top:100px;">
    <iframe id="player_1" src="http://player.vimeo.com/video/39683393?api=1&player_id=player_1" width="540" height="304" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>
  </script>
  -->
  <!-- Place somewhere in the <body> of your page -->

  <div class="flexslider">
    <ul class="slides">
      <% if @project.get_publishable_media_items.each do |media_item| %>

          <li>
            <div class="frame">
              <% if media_item.media_content_type == 'youtube' %>
                  <%= raw(media_item.youtube_embed(media_item.url)) %>
              <% else %>
                  <%= image_tag media_item.media.url %>
              <% end %>
            </div>
          </li>


      <% end.empty? %>
         <%= image_tag('adt.png')%>

      <% end %>
    </ul>
  </div>


  <h3>Files:</h3>
  <% @project.get_downloadable_media_items.each do |media_item| %>
      <p>
        <%= link_to media_item.media_file_name, media_item.media.url %>
      </p>
  <% end %>

 <!-- this code allows aiddata users to see and delete all media files that have been uploaded for the project
  <% if current_user_is_aiddata %>
    <% @project.get_all_media_items.each do |media_item| %>
      <p>
      <%= link_to media_item.media_file_name, media_item.media.url %>
      <% if current_user_is_aiddata %>
         <a class='btn btn-small btn-danger' data-method='delete' href='/projects/<%= @project.id %>/media_items/<%=media_item.id %>'>DELETE!</a>
      <% end %>
      </p>
    <% end %>
  <% end %>
   -->


  <h3>Upload:</h3>
  <% if current_user %>
      <%= form_tag "#{project_path @project}/media_items", :multipart => true, onsubmit: "return confirm_terms_and_conditions(this)" do %>
         <%= file_field_tag "media" %>
         <%= hidden_field_tag( "user_id", current_user[:id]) %>
          <%= submit_tag 'Add file', class: "btn btn-info" %>
          <div class='row-fluid'>
            <input style='display:inline;' type='checkbox' required="true" id='terms_and_conditions'/>
            <label style='display:inline;'>
              I accept the <%= link_to "terms and conditions", "http://www.aiddata.org/content/index/about/terms-conditions" %>.
            </label>
          </div>
      <% end %>

      <h3>Video:</h3>
      <%= form_tag "#{project_path @project}/media_items", :multipart => true do %>
          <%= text_field_tag "url" %>
          <%= hidden_field_tag( "user_id", current_user[:id]) %>
          <%= hidden_field_tag( "video", "youtube") %>
          <%= submit_tag 'Share Video', class: "btn btn-info" %>
      <% end %>

  <% else %>
      <p><i> Please
        <%= link_to "sign in", signin_path %>
        to contribute files!</i>
      </p>
  <% end %>
</div>

<script>
    // Can also be used with $(document).ready()
    $(window).load(function() {
        $('.flexslider').flexslider({
            animation: "slide"

        });
    });


</script>