
.container-fluid
  = simple_form_for(resource) do |f|
    = f.error_notification
    = f.simple_fields_for(resource) do |res|
      = render 'fields', f: f
    .row-fluid
      %hr
    .row-fluid
      .span2
        = f.button :submit, class: "btn btn-success"
      .span2
        = link_to "Cancel", resources_path, class: "btn btn-danger"


