- provide :title, "Resources"

.row-fluid
    .span9
        %h1.page-header
            All Resources
    .span3
        - if current_user_is_aiddata
            = link_to "New Resource", new_resource_path, class: "btn btn-success"

.row-fluid
    = render 'search_form'

.row-fluid
    = will_paginate @resources
- dir = (params[:dir] == "asc" ? "desc" : "asc") 
.row-fluid
    %table.table.table-hover
        %thead
            %tr
                %th
                    = link_to "Title", params.merge(order: "title", dir: dir)
                %th Authors
                %th Publisher
                %th
                    = link_to "Resource type", params.merge(order: "resource_type", dir: dir)
                %th
                    = link_to "Language", params.merge(order: "language", dir: dir)
                %th
                    = link_to "# Linked Projects", params.merge(order: "projects_count", dir: dir)
                %th 
                    = link_to "Retrieved at", params.merge(order: "fetched_at", dir: dir)

        %tbody
            -  @resources.each do |resource|
                %tr
                    %td{style: "overflow:hidden;text-overflow: ellipsis;max-width:300px"}
                        = link_to(resource.title, resource)
                    %td{style: "overflow:hidden;text-overflow: ellipsis;max-width:300px"}
                        = resource.authors
                    %td
                        = "#{resource.publisher || '(No publisher)'}#{ resource.publisher_location.blank? ? "" : ": #{resource.publisher_location}"} (#{resource.publish_date || "No date"})"
                    %td
                        = resource.resource_type
                    %td
                        - if resource.language_id?
                            = resource.language.name
                    %td
                        = resource.projects_count
                    %td
                        = resource.dont_fetch ? "Not fetching." : resource.fetched_at

.row-fluid
    = will_paginate @resources

