<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @resource.title %>
</p>

<p>
  <b>Authors:</b>
  <%= @resource.authors %>
</p>

<p>
  <b>Publisher:</b>
  <%= @resource.publisher %>
</p>

<p>
  <b>Publish date:</b>
  <%= @resource.publish_date %>
</p>

<p>
  <b>Publisher location:</b>
  <%= @resource.publisher_location %>
</p>

<p>
  <b>Fetched at:</b>
  <%= @resource.fetched_at %>
</p>

<p>
  <b>Download url:</b>
  <%= @resource.download_url %>
</p>

<p>
  <b>Dont fetch:</b>
  <%= @resource.dont_fetch %>
</p>

<p>
  <b>Resource type:</b>
  <%= @resource.resource_type %>
</p>


<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
