- provide :title, @resource.title

.row-fluid
	.span4
		%strong
			= link_to "&larr; All resources".html_safe, resources_path
.row-fluid
	%h1.page-header
		= @resource.title
		- if current_user_is_aiddata
			= link_to "Edit", edit_resource_path(@resource), class: "btn"

			= link_to "Destroy", @resource, method: :delete, confirm: "Are you sure you want to delete this resource?", class: "btn btn-danger"

.row-fluid
	.span6.container-fluid
		.row-fluid
			.span6
				%h4 
					About:
				%ul.unstyled
					%li
						%strong
							Authors:
						= @resource.authors
					%li{style: "overflow-x:scroll;"}
						%strong
							Source URL:
						= link_to @resource.source_url, (@resource.source_url[0..6] == "http://" ? "" : "http://") + @resource.source_url
					%li
						%strong 
							Resource type:
						= @resource.resource_type
			.span6
				%h4 
					Publisher:
				%ul.unstyled
					%li
						%strong
							Publisher:
						= @resource.publisher 
					%li
						%strong
							Location:
						= @resource.publisher_location
					%li
						%strong
							Publish Date:
						= @resource.publish_date
		
		
		%hr
		.row-fluid		
			%h4.text-info 
				Download this Resource:
		- if @resource.dont_fetch
			.row-fluid
				%p 
					%em
						This resource isn't being fetched.
		- else
			.row-fluid
				.span6
					%strong
						Last stored:
					- if @resource.fetched_at.present?
						= time_ago_in_words @resource.fetched_at
						ago.
					- else
						%em
							No link!
				.span6
					- if @resource.download_url.present? && @resource.download_url[0..6] == 'http://'
						%strong
							Link:
							= link_to @resource.title, @resource.download_url, target: "_blank"
					- else
						%em
							Couldn't be fetched!


	.span6.container-fluid
		.row-fluid
			%h4 Citation:
			%p
				= @resource.to_citation
			%hr
		- if current_user_is_aiddata
			.row-fluid
				.alert.alert-warning
					%h4 Merge into another resource:
					%form{method: 'post', action: get_devoured_resource_path(@resource), onsubmit: 'return confirm("Are you sure you want to \n - DESTROY this resource \n      and  \n - give its projects to the other one?")'}
						%input#devourer_id{name: "devourer_id", type: "text", placeholder:"Search or enter the ID of the target resource."}
						%input{type: "submit", value: "Merge!", class: "btn btn-warning"}
				:coffeescript
					$('#devourer_id').typeahead
						name: "resources"
						remote: "/resources/typeahead?search=%QUERY"
						template: $("#typeahead_template").html()
						engine: typeahead_engine
						limit: 20
		.row-fluid.well.well-small
			%h4 
				- unless current_user_is_aiddata
					Active
				Projects Linked to this Resource:
			%ol#projects
				- @resource.projects.each do |p|
					- if p.active?
						%li
							= link_to "#{p.to_english} (#{p.id})".html_safe, p, target: "_blank"
							- if current_user_is_aiddata
								|
								%a.btn.btn-mini.btn-danger.unpin-project{"data-project-id" => p.id}
									Remove
			
			- if current_user_is_aiddata


				%form#add_project.container-fluid{method: 'post', action: "/resources/#{@resource.id}/projects"}
					.row-fluid			
						%input#new_project_id{type: 'text', name: "project_id", placeholder: "Type to search, or enter a Project ID"}
						%input.btn.btn-small.btn-success{type: "submit", value: "Add!"}
				:coffeescript

					$( ->
						$('#new_project_id').typeahead
							name: "projects"
							remote: "/projects/english?typeahead=true&search=%QUERY"
							template: $('#typeahead_template').html()
							engine: typeahead_engine
							limit: 20
					)


					@resource_projects_path = "/resources/#{@resource.id}/pinned_projects"
					@unpin_project = ->
						if confirm('Are you sure you want to unpin this resource?')
							project_id = project_id or $(this).attr("data-project-id")
							console.log project_id
							this_line = $(this).parent()
							this_line.css("font-style", "italic")
							$.ajax
								url: resource_projects_path + "/" + project_id
								method: 'delete'
								data: {project_id: project_id}
								success: (response) ->
									if response["status"] == "success"
										this_line.remove()
					
					$('.unpin-project').click unpin_project

					post_data_in_place = (e)->
						e.preventDefault()
						new_p_id = $('#new_project_id')
						project_id = new_p_id.val()
						# new_p_id.slideUp()
						$.post(resource_projects_path, {project_id: project_id}, (response) ->
							if response["status"] is "success"
								new_p_id.typeahead('setQuery', '')
								new_list_item = "<li><a target='_blank' href='/projects/" + project_id + "'>"
								new_list_item += response["project"] + " (" + project_id + ")"
								new_list_item += "</a>"
								#{current_user_is_aiddata ?  
								%{new_list_item += "| <a class='btn btn-mini btn-danger unpin-project' data-project-id=" + project_id + " >Remove</a>"}
								 : ""}
								new_list_item +="</li>"
								$('#projects').append(new_list_item)
							# new_p_id.slideDown()
							$('.unpin-project').off().click unpin_project
						)
					$('#add_project').on("submit", post_data_in_place)




