<% provide(:title, "#{@organization.name}") %>
<% provide(:first_header, "#{@organization.name}") %>

<p>
  <b>Description:</b>
  <%= @organization.description %>
</p>

<p>
  <b>Type:</b>
  <%= @organization.organization_type.name unless @organization.organization_type.nil? %>
</p>

<p>
	Participating in 
  <b>
  <%= pluralize(@organization.projects.count, "project") %>. 
  </b>
</p>
<p>
Owns  
  <b>
  <%= pluralize(@organization.owned_projects.count, "project") %>. 
  </b>
</p>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
