<% provide(:title, "#{@organization.name}") %>
<% provide(:first_header, "#{@organization.name}") %>

<p>
  <b>Description:</b>
  <%= @organization.description %>
</p>

<p>
  <b>Type:</b>
  <%= @organization.organization_type.name unless @organization.organization_type.nil? %>
</p>

<p>
	Participating in 
  <b>
  <%= link_to pluralize(@organization.projects.count, "project"), "/projects?organization_name=#{CGI.escape(@organization.name)}" %>. 
  </b>
</p>
<p>
Owns  
  <b>
  <%= pluralize(@organization.owned_projects.count, "project") %>. 
  </b>
</p>
<%= current_user && current_user.owner == Organization.find_by_name('AidData') ? link_to('Edit', edit_organization_path(@organization)) : '' %> |
<%= link_to 'See all Organizations', organizations_path %>
