 <header> 
  <div class="navbar">    
    <div class="navbar-inner">
      <div class="container">

        
        <a href="http://aiddata.org" id='logo' style="position:absolute">
          <%= image_tag "adt.png" %>
        </a>

        <nav>
        	


          <ul class="nav pull-right">
                <li><%= link_to "Home", root_path %> </li>
                <li><%= link_to "Team", content_by_name_path("meet_the_team") %> </li>
                <li><%= link_to "Methods", content_by_name_path("methodology") %> </li>
                <li class="dropdown">
                  <a href="#" class='dropdown-toggle' data-toggle='dropdown'>
                    Data
                    <i class='caret'></i>
                  </a>
                  <ul class='dropdown-menu'>
                    <li><%= link_to "Visualize", "#" %></li>
                    <li><%= link_to "Search",projects_path %></li>
                    <li><%= link_to "Download", content_by_name_path("downloads") %></li>
                  </ul>
                </li>
                <li><%= link_to "Publications", content_by_name_path("publications") %> </li>
                <li><%= link_to "Media", content_by_name_path("media") %> </li>
                <li><%= link_to "Contact", content_by_name_path("contact") %> </li>
 
                <li><a href='#'>Old menu items &rarr;</a></li>
                <!-- Links for anyone !-->
                <%= render 'layouts/project_menu' %>
                
                <% if signed_in? %>
                  <% # Links for signed-in users %>

                  <li><%= link_to "Edit site content", contents_path %></li>

                  <li id="fat-menu" class="dropdown">
                     
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Users <b class="caret"></b>
                     </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "My Profile", current_user %></li>
                      <li><%= link_to "All Users", users_path %></li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Sign out", signout_path, method: "delete" %>
                      </li>
                    </ul>

                  </li>
                
                <% else %>

                  <% # Links for non-signed-in-users %>
                  <li><%= link_to "Sign In", signin_path %></li>
                
                <% end %>
          </ul>
          <% if Rails.env.development? %>
            <p class="pull-right" style="margin:5px;color:#fcc;font-size:20px"><b>DEVELOPMENT</b></p>
          <% end %>
        </nav>

      </div>
    </div>
  </div>


<div id="header_content" class='container'> 
   <%= yield(:header_content) %>
</div>


</header>
