%header
  .container-fluid.no-padding
    .row-fluid
      .container  
        .row-fluid.visible-phone.header-upper      
          .span6
            %a#logo{ href: "http://aiddata.org"}
              = image_tag "open_adt_small.png" 
          .span6
            %h3#tagline
              Tracking Chinese Development Finance to Africa -
              %span.beta-note
                Beta
        .row-fluid.hidden-phone.header-upper                       
          .span9
            %h1#tagline
              Tracking Chinese Development Finance to Africa - 
              %span.beta-note
                Beta      
          .span3
            %a#logo{ href: "http://aiddata.org"}
              = image_tag "open_adt_small.png"       
      


  .container-fluid.no-padding
    .row-fluid.aiddata-blue
      .container  
        .row-fluid
          %nav.span12
            %ul.nav.nav-pills.header-links
              %li 
                = link_to "Home", root_path
              %li.dropdown
                %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
                  About
                  %i.caret
                %ul.dropdown-menu
                  %li 
                    = link_to "About the project", content_by_name_path("about_the_project")
                  %li 
                    //= link_to "Meet the team", complex_content_by_name_path("meet_the_team")
                    = link_to "Meet the team", content_by_name_path("meet_the_team")

                  %li
                    = link_to "Contact", content_by_name_path("contact")
                  
              %li.dropdown
                %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
                  Data
                  %i.caret
                %ul.dropdown-menu
                  %li
                    = link_to "Search Projects", projects_path
                  %li
                    = link_to_function "Find by Project ID", 'id = prompt("ID:");if (id) {window.location = ("/projects/"+id)}' 
                  %li
                    = link_to "Suggest a Project", suggest_a_project_path

                  %li 
                    = link_to "Download Files", content_by_name_path("downloads")
                  %li
                    = link_to "Aggregate Exporter", aggregate_export_path

                  %li.divider
                  %li
                    = link_to "Methodology", content_by_name_path("methodology")
                  %li
                    = link_to "Using the Data", content_by_name_path("using_the_data")
                  %li
                    = link_to "Improving the Data", content_by_name_path("improving_the_data")  
                  %li 
                    = link_to "Frequently Asked Questions", content_by_name_path("frequently_asked_questions")  
                  %li
                    = link_to "Citing the Data", (content_by_name_path("frequently_asked_questions") + '#how_should_i_cite_your_database')
                  %li
                    = link_to "Glossary", content_by_name_path("glossary") 
                  %li.divider
                  %li
                    = link_to "Web Service API", content_by_name_path("api_docs")              
              %li.dropdown
                %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
                  Visualize
                  %i.caret
                %ul.dropdown-menu
                  
                  %li
                    = link_to "Country-level Map", map_path
                  %li 
                    = link_to "Project bubbles", bubbles_path
                  %li 
                    = link_to "Geocoded Data", content_by_name_path("geocoding")
              %li
                = link_to "Publications", publications_path
              %li.dropdown
                %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
                  Media
                  %i.caret
                %ul.dropdown-menu
                  %li
                    = link_to "In the news", media_path
                  %li
                    = link_to "Multimedia", content_by_name_path("multimedia")
              
              - if signed_in? 
                %li
                  = link_to "Sign out", signout_path, method: "delete"
              - else
                %li
                  = link_to "Sign In", signin_path

              - if Rails.env.development? 
                %li{ style: "margin:5px;color:#f33;font-size:20px" }
                  %strong
                    DEV

              - if Rails.env.staging?
                %li{ style: "margin:5px;color:#f33;font-size:20px" }
                  %strong
                    Staging
              %li.pull-right
                %input#header_search{type: "text", placeholder: "Search the site or find a project..."}
        - if current_user_is_aiddata
          %div.row-fluid
            %nav.span12
              %ul.nav.nav-pills
                = render 'layouts/project_menu'
                %li
                  = link_to "Edit site content", contents_path
                %li 
                  = link_to "Users", users_path
                %li
                  = link_to "<i>Pending Content</i>".html_safe, pending_content_path
                %li
                  = link_to "Exports", exports_path
