 <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <% # heading logo %>
          <a href="http://aiddata.org" id='logo' style="position:absolute">
            <%= image_tag "adt.png" %>
          </a>

          <nav>
            <ul class="nav pull-right">
                  <li><%= link_to "Home", root_path %> </li>
                  <!-- Links for anyone !-->
                  <%= render 'layouts/project_menu' %>
                  
                  <% if signed_in? %>
                    <% # Links for signed-in users %>

                    

                    <li id="fat-menu" class="dropdown">
                       
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          Users <b class="caret"></b>
                       </a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "My Profile", current_user %></li>
                        <li><%= link_to "All Users", users_path %></li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to "Sign out", signout_path, method: "delete" %>
                        </li>
                      </ul>

                    </li>
                  
                  <% else %>

                    <% # Links for non-signed-in-users %>
                    <li><%= link_to "Create account", signup_path %></li>
                    <li><%= link_to "Sign in", signin_path %></li>
                  
                  <% end %>
            </ul>
          </nav>

        </div>
      </div>
    </header>
<div class='row' id='image_and_header'>
  <%= image_tag "aiddata_background.jpg", id: "background-image"%>
  <h1 id="first_header"> <%= yield(:first_header) %></h1>
</div>

