 <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <% # heading logo %>
          <a href="http://aiddata.org" id='logo'>
            <%= image_tag "adt.png" %>
          </a>

          <nav>
            <ul class="nav pull-right">
                  <li><%= link_to "Home", root_path %> </li>
                  <% if signed_in? %>
                  
                    <% # Links for signed-in users %>
                    <li id="fat-menu" class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       Projects <b class="caret"></b>
                       </a>
                      
                      <ul class="dropdown-menu">
                        <li><%= link_to "Create new project", new_project_path %></li>
                        <li><%= link_to_function "Find by ID", 'get_project_id_for_search()' %></li>
                        <li><%= link_to "List all", projects_path %></li>
                      </ul>

                 </li>
                    <li><%= link_to "Users", '#' %></li>
                    <li id="fat-menu" class="dropdown">
                       
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       Account <b class="caret"></b>
                       </a>
                      
                      <ul class="dropdown-menu">
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to "Settings", '#' %></li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to "Sign out", signout_path, method: "delete" %>
                        </li>
                      </ul>

                    </li>
                  
                  <% else %>

                    <% # Links for non-signed-in-users %>
                    <li><%= link_to "Create account", signup_path %></li>
                    <li><%= link_to "Sign in", signin_path %></li>
                  
                  <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>